# ìœ íŠœë¸Œ ì¸ê¸°ë™ì˜ìƒ ë°ì´í„°
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/rsrishav/youtube-trending-video-dataset?select=KR_youtube_trending_data.csv  
ë°ì´í„° ì„¤ëª… : ìœ íŠœë¸Œ ë°ì¼ë¦¬ ì¸ê¸°ë™ì˜ìƒ (í•œêµ­)  
dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv")
df.head()

,Unnamed: 0,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

##### 1. ì¸ê¸°ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ìƒìœ„ 10ê°œëª…ì„ ì¶œë ¥í•˜ë¼ (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

In [3]:
df["channelId"].isin(df["channelId"].value_counts().head(10).index)

0         True
1        False
2        False
3        False
4        False
         ...
60394    False
60395    False
60396    False
60397    False
60398    False
Name: channelId, Length: 60399, dtype: bool

In [4]:
df[df["channelId"].isin(df["channelId"].value_counts().head(10).index)]["channelTitle"].unique()

array(['ì¥ì‚ì­ˆ', 'ì´ëª‡ëª…', 'íŒŒë¿Œë¦¬', 'ì§¤íˆ°', 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„',
       'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„', 'SPOTV', 'ì±„ë„ ì‹­ì˜¤ì•¼', 'ì´ê³¼ì¥', 'BANGTANTV'],
      dtype=object)

##### 2. ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ë¥¼ í™•ì¸í•˜ê³  ì‹¶ë‹¤. dislikesìˆ˜ê°€ like ìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

In [5]:
df[df["dislikes"] > df["likes"]].channelTitle.unique()

array(['í•«ë„ê·¸TV', 'ASMR ì• ì •TV', 'í•˜ì–€íŠ¸ë¦¬HayanTree', 'ì–‘íŒ¡ YangPang',
       'ì² êµ¬í˜• (CHULTUBE)', 'ì™œëƒë§¨í•˜ìš°ìŠ¤', '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€', 'ì˜¤ë©”í‚´TV', 'ìœ¡ì§€ë‹´',
       'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ',
       'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO', 'Gen.G esports'], dtype=object)

##### 3. ì±„ë„ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ë‹¤. channelIdì˜ ê²½ìš° ê³ ìœ ê°’ì´ë¯€ë¡œ ì´ë¥¼ í†µí•´ ì±„ë„ëª…ì„ í•œë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°¯ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [6]:
df[["channelTitle", "channelId"]]

                  channelTitle                 channelId
0                          ì¥ì‚ì­ˆ  UChbE5OZQ6dRHECsX0tEPEZQ
1      RAIN's Official Channel  UCxXgIeE5hxWxHG6dz9Scg2w
2                  ì„œìš¸ì‹œ Â· Seoul  UCZUPZW5idAxYp-Asj__lVAA
3                 ê³ ê¸°ë‚¨ì MeatMan  UCT3CumbFIJiW33uq0UI3zlg
4                        ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘  UCdWgRSfttvDucq4ApcCg5Mw
...                        ...                       ...
60394                       ê³µë£¡  UCWf4QKgnTyvmehcRqw-JldQ
60395                  ë†€ë©´ ë­í•˜ë‹ˆ?  UCx6jsZ02B4K3SECUrkgPyzg
60396        ê¹€ì¢…êµ­ GYM JONG KOOK  UCoe-0EVDJnjlSoPK8ygcGwQ
60397                 ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘  UCnx4Fi4cmkLGDiFfZ311wWw
60398              HYBE LABELS  UC3IZKseVpdzPSBaWxBxundA

[60399 rows x 2 columns]

In [7]:
df[["channelTitle", "channelId"]].drop_duplicates()["channelId"].value_counts()

channelId
UC98TOxKQk4aLcx0EjIK0LkQ    3
UCtQYhzJWFai1y30UIA3uwYQ    3
UCiEEF51uRAeZeCo8CJFhGWw    2
UCytBYTjlE45XxrJ7SxO2igg    2
UC4LW3sOslC14Vn5bcoNUBkg    2
                           ..
UCeAVJesn059sG6t-1XCgfJQ    1
UCureTzUsWPyrhfZ38x31WXQ    1
UCFXigv26l81ZBaKz6RakL0A    1
UC7lP46vHWIdZbT0X7Ud0AAA    1
UCOH52Yqq4-rdLvpt2Unsqsw    1
Name: count, Length: 1770, dtype: int64

In [8]:
ans = df[["channelTitle", "channelId"]].drop_duplicates()["channelId"].value_counts()
len(ans[ans > 1])

71

##### 4. ì¼ìš”ì¼ì— ì¸ê¸°ìˆì—ˆë˜ ì˜ìƒë“¤ì¤‘ ê°€ì¥ë§ì€ ì˜ìƒ ì¢…ë¥˜(categoryId)ëŠ” ë¬´ì—‡ì¸ê°€?

In [9]:
import datetime as dt

In [10]:
df["trending_date2"] = pd.to_datetime(df["trending_date2"])

In [11]:
df[df["trending_date2"].dt.day_name() == "Sunday"]["categoryId"].value_counts()

categoryId
24    3096
22    1337
10     830
17     636
23     556
25     437
26     363
20     289
1      274
15     217
27     199
28     167
2       99
19      91
29       9
Name: count, dtype: int64

In [12]:
df[df["trending_date2"].dt.day_name() == "Sunday"]["categoryId"].value_counts().index[0]

np.int64(24)

##### 5. ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIdëŠ” ê°ê° ëª‡ê°œ ì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

In [13]:
ans = df.groupby([df["trending_date2"].dt.day_name(), "categoryId"], as_index = False).size()
ans.pivot(index = "categoryId", columns = "trending_date2")

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

##### 6. ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_countê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

In [14]:
target = df[df["view_count"] != 0]

In [15]:
target["ratio"] = target["comment_count"] / target["view_count"]
ans = target.sort_values("ratio", ascending = False).dropna()
ans.iloc[0].title

C:\Users\cho03\AppData\Local\Temp\ipykernel_31996\589280512.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target["ratio"] = target["comment_count"] / target["view_count"]

'60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)'

##### 7. ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤.viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë‚®ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_counts, ratioê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤.)

In [16]:
target2 = target[target["ratio"] != 0]
ans = target2.sort_values("ratio")
ans.iloc[0].title

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

##### 8. like ëŒ€ë¹„ dislikeì˜ ìˆ˜ê°€ ê°€ì¥ ì ì€ ì˜ìƒì€ ë¬´ì—‡ì¸ê°€? (like, dislike ê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

In [17]:
target3 = df[(df.likes != 0) & (df.dislikes != 0)]
df.iloc[(target3["dislikes"] / target3["likes"]).sort_values().index[0]].title

'[ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€ë“í•œ NCT 127 ë„ì˜&ì •ìš°ì˜ ì¤Œí„°ë·°'

##### 9. ê°€ì¥ë§ì€ íŠ¸ë Œë“œ ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì˜ ì´ë¦„ì€ ë¬´ì—‡ì¸ê°€? (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

In [18]:
df["channelId"].value_counts().index[0]

'UCszFjh7CEfwDb7UUGb4RzCQ'

In [19]:
df.loc[df["channelId"] == df["channelId"].value_counts().index[0]].channelTitle.unique()[0]

'ì§¤íˆ°'

##### 10. 20íšŒ(20ì¼)ì´ìƒ ì¸ê¸°ë™ì˜ìƒ ë¦¬ìŠ¤íŠ¸ì— í¬í•¨ëœ ë™ì˜ìƒì˜ ìˆ«ìëŠ”?

In [20]:
(df[["title", "channelId"]].value_counts() >= 20).sum()

np.int64(40)

# âŒ ìœ íŠœë¸Œ ê³µë²”ì»¨í…ì¸  ë™ì˜ìƒ ë°ì´í„°
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/kukuroo3/youtube-episodic-contents-kr(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)  
ë°ì´í„° ì„¤ëª… : ìœ íŠœë¸Œ â€œê³µë²”â€ ì»¨í…ì¸  ë™ì˜ìƒ ì •ë³´ ( 10ë¶„ ê°„ê²© ìˆ˜ì§‘)  
dataurl1 (ë¹„ë””ì˜¤ ì •ë³´) = https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv  
dataurl2 (ì°¸ê°€ì ì±„ë„ ì •ë³´)= https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv

In [21]:
video = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv")
channel = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv")
display(video.head())
display(channel.head())

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ê½ˆëšœë£¹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ê½ˆëšœë£¹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ê½ˆëšœë£¹

##### 11. ê° ë°ì´í„°ì˜ â€˜ctâ€™ì»¬ëŸ¼ì„ ì‹œê°„ìœ¼ë¡œ ì¸ì‹í• ìˆ˜ ìˆê²Œ datatypeì„ ë³€ê²½í•˜ê³  video ë°ì´í„°ì˜ videonameì˜ ê° value ë§ˆë‹¤ ëª‡ê°œì˜ ë°ì´í„°ì”© ê°€ì§€ê³  ìˆëŠ”ì§€ í™•ì¸í•˜ë¼

In [22]:
video["ct"] = pd.to_datetime(video["ct"])
channel["ct"] = pd.to_datetime(channel["ct"])

video["videoname"].value_counts()

videoname
ê³µë²” EP1    3492
ê³µë²” EP2    3204
ê³µë²” EP3    2568
ê³µë²” EP4    2280
ê³µë²” EP5    1562
ê³µë²” EP6    1274
ê³µë²” EP7     555
ê³µë²” EP8     266
Name: count, dtype: int64

##### 12. ìˆ˜ì§‘ëœ ê° videoì˜ ê°€ì¥ ìµœì‹ í™” ëœ ë‚ ì§œì˜ viewcountê°’ì„ ì¶œë ¥í•˜ë¼

In [23]:
video.sort_values(["videoname","ct"]).drop_duplicates("videoname", keep = "last")

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,ê³µë²” EP2
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,ê³µë²” EP3
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,ê³µë²” EP4
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,ê³µë²” EP5
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,ê³µë²” EP6
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,ê³µë²” EP7
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

##### 13. Channel ë°ì´í„°ì¤‘ 2021-10-03ì¼ ì´í›„ ê° ì±„ë„ì˜ ì²˜ìŒ ê¸°ë¡ ëë˜ êµ¬ë…ì ìˆ˜(subcnt)ë¥¼ ì¶œë ¥í•˜ë¼

In [24]:
ans = channel[channel["ct"] >= pd.to_datetime("2021-10-03")].sort_values(["ct", "channelname"]).drop_duplicates().reset_index(drop = True)
ans[["channelname", "subcnt"]]

        channelname   subcnt
0            ë…¼ë¦¬ì™• ì „ê¸°   922000
1             ì•¼ì „ì‚½ì§±ì¬   257000
2        ì¸„ì •ChuJeong   322000
3        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶     7520
4       ë¦´í„ Lilpearl    10100
...             ...      ...
1283  ê³½í† ë¦¬ kwak tori   469000
1284     ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶     9060
1285    ë¦´í„ Lilpearl    21100
1286  Balming Tiger    56800
1287            ê½ˆëšœë£¹  1400000

[1288 rows x 2 columns]

##### 14. ê°ì±„ë„ì˜ 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ê¹Œì§€ êµ¬ë…ììˆ˜ (subcnt) ì˜ ì¦ê°€ëŸ‰ì„ êµ¬í•˜ì—¬ë¼

In [25]:
start = pd.Timestamp("2021-10-03 03:00")
end = pd.Timestamp("2021-11-01 15:00")
target = channel[(channel["ct"] >= start) & (channel["ct"] <= end)]
ans = target.sort_values("ct").groupby("channelname").agg(start = ("subcnt", "first"), end = ("subcnt", "last"))
ans["increase"] = ans["end"] - ans["start"]
ans

                   start      end  increase
channelname
Balming Tiger      54300    56800      2500
ê³½í† ë¦¬ kwak tori     471000   469000     -2000
ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶          7520     9060      1540
ê½ˆëšœë£¹              1330000  1400000     70000
ë…¼ë¦¬ì™• ì „ê¸°            922000   911000    -11000
ë¦´í„ Lilpearl        10100    21100     11000
ì•¼ì „ì‚½ì§±ì¬             257000   268000     11000
ì™€ê¸€ì™€ê¸€ WagleWagle    55000    55000         0
ì¡°ë‚˜ë‹¨               215000   227000     12000
ì¸„ì •ChuJeong        322000   323000      1000
í˜•ì‚¬!íƒì •ë˜ë‹¤            14900    25200     10300

In [26]:
ans.reset_index()[["channelname", "increase"]]

        channelname  increase
0     Balming Tiger      2500
1     ê³½í† ë¦¬ kwak tori     -2000
2        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶      1540
3               ê½ˆëšœë£¹     70000
4            ë…¼ë¦¬ì™• ì „ê¸°    -11000
5       ë¦´í„ Lilpearl     11000
6             ì•¼ì „ì‚½ì§±ì¬     11000
7   ì™€ê¸€ì™€ê¸€ WagleWagle         0
8               ì¡°ë‚˜ë‹¨     12000
9        ì¸„ì •ChuJeong      1000
10          í˜•ì‚¬!íƒì •ë˜ë‹¤     10300

##### 15. ê° ë¹„ë””ì˜¤ëŠ” 10ë¶„ ê°„ê²©ìœ¼ë¡œ êµ¬ë…ììˆ˜, ì¢‹ì•„ìš”, ì‹«ì–´ìš”ìˆ˜, ëŒ“ê¸€ìˆ˜ê°€ ìˆ˜ì§‘ëœê²ƒìœ¼ë¡œ ì•Œë ¤ì¡Œë‹¤. ê³µë²” EP1ì˜ ë¹„ë””ì˜¤ì •ë³´ ë°ì´í„°ì¤‘ ìˆ˜ì§‘ê°„ê²©ì´ 5ë¶„ ì´í•˜, 20ë¶„ì´ìƒì¸ ë°ì´í„° êµ¬ê°„( í•´ë‹¹ ì‹œì  ì „,í›„) ì˜ ì‹œê°ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

In [27]:
target = video[video["videoname"].str.contains("ê³µë²” EP1")].sort_values("ct").reset_index(drop = True)
target[(target["ct"].diff() >= dt.timedelta(minutes = 20)) | (target["ct"].diff() <= dt.timedelta(minutes = 5))]

target[target.index.isin([720,721,722,723,1635,1636,1637])]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,ê³µë²” EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,ê³µë²” EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,ê³µë²” EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,ê³µë²” EP1

##### 16. ê° ì—í”¼ì†Œë“œì˜ ì‹œì‘ë‚ ì§œ(ë…„-ì›”-ì¼)ë¥¼ ì—í”¼ì†Œë“œ ì´ë¦„ê³¼ ë¬¶ì–´ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê³  ì¶œë ¥í•˜ë¼

In [28]:
start = video.sort_values(["videoname", "ct"]).drop_duplicates("videoname")[["ct", "videoname"]]
start["date"] = start["ct"].dt.date
start[["date", "videoname"]]

             date videoname
10     2021-10-07    ê³µë²” EP1
3496   2021-10-09    ê³µë²” EP2
6696   2021-10-14    ê³µë²” EP3
9264   2021-10-16    ê³µë²” EP4
11544  2021-10-21    ê³µë²” EP5
13661  2021-10-23    ê³µë²” EP6
13106  2021-10-28    ê³µë²” EP7
14935  2021-10-30    ê³µë²” EP8

##### 17. â€œê³µë²”â€ ì»¨í…ì¸ ì˜ ê²½ìš° 19:00ì‹œì— ê³µê°œ ë˜ëŠ”ê²ƒìœ¼ë¡œ ì•Œë ¤ì ¸ìˆë‹¤. ê³µê°œëœ ë‚ ì˜ 21ì‹œì˜ viewcnt, ct, videoname ìœ¼ë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ viewcntë¥¼ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ì—¬ ì¶œë ¥í•˜ë¼

In [29]:
ans = video[video["ct"].dt.hour == 21].sort_values(["videoname","ct"]).drop_duplicates("videoname").sort_values("viewcnt",ascending=False)[["videoname","viewcnt","ct"]].reset_index(drop=True)
ans

  videoname  viewcnt                  ct
0    ê³µë²” EP8   264029 2021-10-30 21:00:08
1    ê³µë²” EP7   252032 2021-10-28 21:00:04
2    ê³µë²” EP4   217674 2021-10-16 21:00:04
3    ê³µë²” EP6   213899 2021-10-23 21:00:06
4    ê³µë²” EP5   201179 2021-10-21 21:00:04
5    ê³µë²” EP2   148144 2021-10-09 21:00:03
6    ê³µë²” EP3   147183 2021-10-14 21:00:04
7    ê³µë²” EP1   117340 2021-10-07 21:00:03

##### 18. video ì •ë³´ì˜ ê°€ì¥ ìµœê·¼ ë°ì´í„°ë“¤ì—ì„œ ê° ì—í”¼ì†Œë“œì˜ ì‹«ì–´ìš”/ì¢‹ì•„ìš” ë¹„ìœ¨ì„ ratio ì»¬ëŸ¼ìœ¼ë¡œ ë§Œë“¤ê³  videoname, ratioë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ ratioë¥¼ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë¼

In [30]:
target = video.sort_values("ct").drop_duplicates("videoname",keep="last")
target["ratio"] = target["dislikecnt"] / target["likecnt"]
target.sort_values("ratio")[["videoname", "ratio"]].reset_index(drop = True)

  videoname     ratio
0    ê³µë²” EP7  0.013636
1    ê³µë²” EP6  0.015881
2    ê³µë²” EP4  0.017971
3    ê³µë²” EP5  0.021128
4    ê³µë²” EP3  0.022360
5    ê³µë²” EP1  0.027118
6    ê³µë²” EP2  0.029844
7    ê³µë²” EP8  0.141357

##### 19. 2021-11-01 00:00:00 ~ 15:00:00ê¹Œì§€ ê° ì—í”¼ì†Œë“œë³„ viewcntì˜ ì¦ê°€ëŸ‰ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“œì‹œì˜¤

In [31]:
start = pd.to_datetime("2021-11-01 00:00")
end = pd.to_datetime("2021-11-01 15:00")
target = video[(video["ct"] >= start) & (video["ct"] <= end)].sort_values("ct").groupby("videoname").agg(start = ("viewcnt","first"), end = ("viewcnt", "last"))
target["increase"] = target["end"] - target["start"]
target.reset_index()[["videoname", "increase"]]

  videoname  increase
0    ê³µë²” EP1     13298
1    ê³µë²” EP2     10300
2    ê³µë²” EP3      9927
3    ê³µë²” EP4      9824
4    ê³µë²” EP5     10824
5    ê³µë²” EP6     14141
6    ê³µë²” EP7     26949
7    ê³µë²” EP8     89147

##### 20. video ë°ì´í„° ì¤‘ì—ì„œ ì¤‘ë³µë˜ëŠ” ë°ì´í„°ê°€ ì¡´ì¬í•œë‹¤. ì¤‘ë³µë˜ëŠ” ê° ë°ì´í„°ì˜ ì‹œê°„ëŒ€ì™€ videoname ì„ êµ¬í•˜ì—¬ë¼

In [32]:
set(video.index) -  set(video.drop_duplicates().index)

{722, 3927}

In [33]:
answer  = video[video.index.isin(set(video.index) -  set(video.drop_duplicates().index))]
answer[["videoname","ct"]]

     videoname                  ct
722     ê³µë²” EP1 2021-10-13 09:41:37
3927    ê³µë²” EP2 2021-10-13 09:41:37

# âŒ ì›”ë“œì»µ ì¶œì „ì„ ìˆ˜ ê³¨ê¸°ë¡ ë°ì´í„°
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/darinhawley/fifa-world-cup-goalscorers-19302018(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)  
ë°ì´í„° ì„¤ëª… : 1930 ~2018ë…„ë„ ì›”ë“œì»µ ì¶œì „ì„ ìˆ˜ ê³¨ê¸°ë¡  
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv

In [34]:
df= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv")
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

##### 21. ì£¼ì–´ì§„ ì „ì²´ ê¸°ê°„ì˜ ê° ë‚˜ë¼ë³„ ê³¨ë“ì ìˆ˜ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ë“ì ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„í˜•íƒœë¡œ ì¶œë ¥í•˜ë¼

In [35]:
df.groupby("Country").sum().sort_values("Goals", ascending = False).head(5)

,Player,Goals,Years
Country,,,
Brazil,RonaldoPeleAdemirJairzinhoVavaLeonidasRivaldoC...,228,1998-2002-20061958-1962-1966-197019501966-1970...
Germany,Miroslav KloseGerd MullerJurgen KlinsmannThoma...,226,2002-2006-2010-20141970-19741990-1994-19982010...
Argentina,Gabriel BatistutaDiego MaradonaGuillermo Stabi...,135,1994-1998-20021982-1986-1990-199419301974-1978...
Italy,Roberto BaggioPaolo RossiChristian VieriSalvat...,123,1990-1994-19981978-19821998-2002199019381982-1...
France,Just FontaineThierry HenryMichel PlatiniZinedi...,115,19581998-2002-2006-20101978-1982-19861998-2002...

##### 22. ì£¼ì–´ì§„ ì „ì²´ê¸°ê°„ë™ì•ˆ ê³¨ë“ì ì„ í•œ ì„ ìˆ˜ê°€ ê°€ì¥ ë§ì€ ë‚˜ë¼ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ì„ ìˆ˜ ìˆ«ìë¥¼ ë°ì´í„° í”„ë ˆì„ í˜•ì‹ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

In [36]:
df.groupby("Country").size().sort_values(ascending = False).head(5)

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

##### 23. Years ì»¬ëŸ¼ì€ ë…„ë„ -ë…„ë„ í˜•ì‹ìœ¼ë¡œ êµ¬ì„±ë˜ì–´ìˆê³ , ê° ë…„ë„ëŠ” 4ìë¦¬ ìˆ«ìì´ë‹¤. ë…„ë„ í‘œê¸°ê°€ 4ìë¦¬ ìˆ«ìë¡œ ì•ˆëœ ì¼€ì´ìŠ¤ê°€ ì¡´ì¬í•œë‹¤. í•´ë‹¹ ê±´ì€ ëª‡ê±´ì¸ì§€ ì¶œë ¥í•˜ë¼

In [37]:
df["Year_list"] = df["Years"].str.split("-")

def check_year(year):
    for value in year:
        if len(str(value)) != 4: return False

    return True

df["check"] = df["Year_list"].apply(check_year)
len(df[df["check"] == False])

45

##### 24. Q3ì—ì„œ ë°œìƒí•œ ì˜ˆì™¸ ì¼€ì´ìŠ¤ë¥¼ ì œì™¸í•œ ë°ì´í„°í”„ë ˆì„ì„ df2ë¼ê³  ì •ì˜í•˜ê³  ë°ì´í„°ì˜ í–‰ì˜ ìˆ«ìë¥¼ ì¶œë ¥í•˜ë¼ (ì•„ë˜ ë¬¸ì œë¶€í„°ëŠ” df2ë¡œ í’€ì´í•˜ê² ìŠµë‹ˆë‹¤)

In [38]:
df2 = df[df["check"] == True].reset_index(drop = True)
df2.shape[0]

1250

##### 25. ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ë¥¼ ë‚˜íƒ€ë‚´ëŠ” â€˜LenCupâ€™ ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³  4íšŒ ì¶œì „í•œ ì„ ìˆ˜ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [39]:
df2["LenCup"] = df2["Year_list"].str.len()
df2["LenCup"].value_counts()[4] # ê°’ì´ 4ì¸ í–‰ì´ ëª‡ ê°œì¸ì§€ ì¸ë±ì‹±

np.int64(16)

##### 26. Yugoslavia êµ­ê°€ì˜ ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 2íšŒì¸ ì„ ìˆ˜ë“¤ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [40]:
len(df2[(df2["LenCup"] == 2) & (df2["Country"] == "Yugoslavia")])

7

##### 27. 2002ë…„ë„ì— ì¶œì „í•œ ì „ì²´ ì„ ìˆ˜ëŠ” ëª‡ ëª…ì¸ê°€?

In [41]:
len(df2[df2["Years"].str.contains("2002")])

156

##### 28. ì´ë¦„ì— â€˜carlosâ€™ ë‹¨ì–´ê°€ ë“¤ì–´ê°€ëŠ” ì„ ìˆ˜ì˜ ìˆ«ìëŠ” ëª‡ ëª…ì¸ê°€? (ëŒ€, ì†Œë¬¸ì êµ¬ë¶„ x)

In [42]:
len(df2[df2["Player"].str.lower().str.contains("carlos")])

13

##### 29. ì›”ë“œì»µ ì¶œì „ íšŸìˆ˜ê°€ 1íšŒë¿ì¸ ì„ ìˆ˜ë“¤ ì¤‘ì—ì„œ ê°€ì¥ ë§ì€ ë“ì ì„ ì˜¬ë ¸ë˜ ì„ ìˆ˜ëŠ” ëˆ„êµ¬ì¸ê°€?

In [43]:
df2[df2["LenCup"] == 1].sort_values("Goals", ascending = False)["Player"].values[0]

'Just Fontaine'

##### 30. ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 1íšŒ ë¿ì¸ ì„ ìˆ˜ë“¤ì´ ê°€ì¥ ë§ì€ êµ­ê°€ëŠ” ì–´ë””ì¸ê°€?

In [44]:
df2[df2["LenCup"] == 1].groupby("Country").size().sort_values(ascending = False).index[0]

'Brazil'

In [45]:
df2[df2["LenCup"] == 1]["Country"].value_counts().index[0]

'Brazil'

# ì„œìš¸ì‹œ ë”°ë¦‰ì´ ì´ìš©ì •ë³´ ë°ì´í„°
ë°ì´í„° ì¶œì²˜ :https://www.data.go.kr/data/15051872/fileData.do(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)  
ë°ì´í„° ì„¤ëª… : ì„œìš¸íŠ¹ë³„ì‹œ_ê³µê³µìì „ê±° ì‹œê°„ëŒ€ë³„ ì´ìš©ì •ë³´  
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv

In [46]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv")
df.head()

         ëŒ€ì—¬ì¼ì  ëŒ€ì—¬ì‹œê°„  ëŒ€ì—¬ì†Œë²ˆí˜¸ ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ ì„±ë³„ ì—°ë ¹ëŒ€ì½”ë“œ  ì´ìš©ê±´ìˆ˜    ìš´ë™ëŸ‰   íƒ„ì†ŒëŸ‰     ì´ë™ê±°ë¦¬  ì‚¬ìš©ì‹œê°„
0  2021-06-01     0   3541    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  13.04  0.17   731.55     6

##### 31. ëŒ€ì—¬ì¼ìë³„ ë°ì´í„°ì˜ ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ê³ , ê°€ì¥ ë§ì€ ë°ì´í„°ê°€ ìˆëŠ” ë‚ ì§œë¥¼ ì¶œë ¥í•˜ë¼

In [47]:
res = df["ëŒ€ì—¬ì¼ì"].value_counts().sort_index().to_frame()
ans = res.sort_values("count", ascending = False).index[0]

display(res)
print(ans)

            count
ëŒ€ì—¬ì¼ì
2021-06-01  48081
2021-06-02  56100
2021-06-03  18985
2021-06-04  56788
2021-06-05  52730
2021-06-06  47787
2021-06-07  52623
2021-06-08  55623
2021-06-09  54507
2021-06-10  36992
2021-06-11  52089
2021-06-12  48569
2021-06-13  43131
2021-06-14  54945

2021-06-04

##### 32. ê° ì¼ìì˜ ìš”ì¼ì„ í‘œê¸°í•˜ê³  (â€˜Mondayâ€™ ~â€™Sundayâ€™) â€˜day_nameâ€™ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³  ì´ë¥¼ ì´ìš©í•˜ì—¬ ê° ìš”ì¼ë³„ ì´ìš© íšŸìˆ˜ì˜ ì´í•©ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

In [48]:
df["ëŒ€ì—¬ì¼ì"] = pd.to_datetime(df["ëŒ€ì—¬ì¼ì"])
df["day_name"]  = df["ëŒ€ì—¬ì¼ì"].dt.day_name()
df["day_name"].value_counts().to_frame()

            count
day_name
Wednesday  110607
Friday     108877
Monday     107568
Tuesday    103704
Saturday   101299
Sunday      90918
Thursday    55977

##### 33. ê° ìš”ì¼ë³„ ê°€ì¥ ë§ì´ ì´ìš©í•œ ëŒ€ì—¬ì†Œì˜ ì´ìš©íšŸìˆ˜ì™€ ëŒ€ì—¬ì†Œ ë²ˆí˜¸ë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

In [49]:
res = df.groupby(["day_name", "ëŒ€ì—¬ì†Œë²ˆí˜¸"]).size().to_frame("size").sort_values(["day_name", "size"], ascending = False).reset_index()
res.drop_duplicates("day_name", keep = "first").reset_index(drop = True)

    day_name  ëŒ€ì—¬ì†Œë²ˆí˜¸  size
0  Wednesday    502   282
1    Tuesday    502   267
2   Thursday   2715   137
3     Sunday    502   372
4   Saturday    502   378
5     Monday    502   242
6     Friday    502   277

##### 34. ë‚˜ì´ëŒ€ë³„ ëŒ€ì—¬êµ¬ë¶„ ì½”ë“œì˜ (ì¼ì¼ê¶Œ/ì „ì²´íšŸìˆ˜) ë¹„ìœ¨ì„ êµ¬í•œ í›„ ê°€ì¥ ë†’ì€ ë¹„ìœ¨ì„ ê°€ì§€ëŠ” ë‚˜ì´ëŒ€ë¥¼ í™•ì¸í•˜ë¼. ì¼ì¼ê¶Œì˜ ê²½ìš° ì¼ì¼ê¶Œ ê³¼ ì¼ì¼ê¶Œ(ë¹„íšŒì›)ì„ ëª¨ë‘ í¬í•¨í•˜ë¼

In [50]:
daily = df[df["ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ"].isin(["ì¼ì¼ê¶Œ","ì¼ì¼ê¶Œ(ë¹„íšŒì›)"])]["ì—°ë ¹ëŒ€ì½”ë“œ"].value_counts().sort_index()
total = df["ì—°ë ¹ëŒ€ì½”ë“œ"].value_counts().sort_index()

(daily / total).sort_values(ascending = False).index[0]

'~10ëŒ€'

##### 35. ì—°ë ¹ëŒ€ë³„ í‰ê·  ì´ë™ê±°ë¦¬ë¥¼ êµ¬í•˜ì—¬ë¼

In [51]:
df[["ì—°ë ¹ëŒ€ì½”ë“œ","ì´ë™ê±°ë¦¬"]].groupby(["ì—°ë ¹ëŒ€ì½”ë“œ"]).mean()

              ì´ë™ê±°ë¦¬
ì—°ë ¹ëŒ€ì½”ë“œ
20ëŒ€    3211.890552
30ëŒ€    3341.443859
40ëŒ€    3514.857416
50ëŒ€    3593.668100
60ëŒ€    3538.145737
70ëŒ€~   3085.039641
~10ëŒ€   2634.426279

##### 36. ì—°ë ¹ëŒ€ ì½”ë“œê°€ 20ëŒ€ì¸ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ê³ ,ì´ë™ê±°ë¦¬ê°’ì´ ì¶”ì¶œí•œ ë°ì´í„°ì˜ ì´ë™ê±°ë¦¬ê°’ì˜ í‰ê·  ì´ìƒì¸ ë°ì´í„°ë¥¼ ì¶”ì¶œí•œë‹¤.ìµœì¢… ì¶”ì¶œëœ ë°ì´í„°ë¥¼ ëŒ€ì—¬ì¼ì, ëŒ€ì—¬ì†Œ ë²ˆí˜¸ ìˆœì„œë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ í›„ 1í–‰ë¶€í„° 200í–‰ê¹Œì§€ì˜ íƒ„ì†ŒëŸ‰ì˜ í‰ê· ì„ ì†Œìˆ«ì  3ì§¸ ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼

In [52]:
df2 = df[df["ì—°ë ¹ëŒ€ì½”ë“œ"] == "20ëŒ€"]
res = df2[df2["ì´ë™ê±°ë¦¬"] >= df2["ì´ë™ê±°ë¦¬"].mean()]
res["íƒ„ì†ŒëŸ‰"] = res["íƒ„ì†ŒëŸ‰"].astype("float")
res = res.sort_values(["ëŒ€ì—¬ì¼ì", "ëŒ€ì—¬ì†Œë²ˆí˜¸"], ascending = False).iloc[0:200]["íƒ„ì†ŒëŸ‰"]
round(res.sum() / len(res), 3)

C:\Users\cho03\AppData\Local\Temp\ipykernel_31996\379943478.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res["íƒ„ì†ŒëŸ‰"] = res["íƒ„ì†ŒëŸ‰"].astype("float")

np.float64(1.613)

##### 37. 6ì›” 7ì¼ ~10ëŒ€ì˜ â€œì´ìš©ê±´ìˆ˜â€ì˜ ì¤‘ì•™ê°’ì€?

In [53]:
df["ëŒ€ì—¬ì¼ì"] = pd.to_datetime(df["ëŒ€ì—¬ì¼ì"])
df[(df["ì—°ë ¹ëŒ€ì½”ë“œ"] == "~10ëŒ€") & (df["ëŒ€ì—¬ì¼ì"] == pd.to_datetime("2021-06-07"))]["ì´ìš©ê±´ìˆ˜"].median()

np.float64(1.0)

##### 38. í‰ì¼ (ì›”~ê¸ˆ) ì¶œê·¼ ì‹œê°„ëŒ€(ì˜¤ì „ 6,7,8ì‹œ)ì˜ ëŒ€ì—¬ì†Œë³„ ì´ìš© íšŸìˆ˜ë¥¼ êµ¬í•´ì„œ ë°ì´í„° í”„ë ˆì„ í˜•íƒœë¡œ í‘œí˜„í•œ í›„ ê° ëŒ€ì—¬ì‹œê°„ë³„ ì´ìš© íšŸìˆ˜ì˜ ìƒìœ„ 3ê°œ ëŒ€ì—¬ì†Œì™€ ì´ìš©íšŸìˆ˜ë¥¼ ì¶œë ¥í•˜ë¼

In [54]:
df2 = df[(df["day_name"].isin(["Tuesday", "Wednesday", "Thursday", "Friday","Monday"])) & (df["ëŒ€ì—¬ì‹œê°„"].isin([6, 7, 8]))].reset_index()
res = df2.groupby(["ëŒ€ì—¬ì‹œê°„", "ëŒ€ì—¬ì†Œë²ˆí˜¸"]).size().to_frame("ì´ìš© íšŸìˆ˜")
res.sort_values(["ëŒ€ì—¬ì‹œê°„", "ì´ìš© íšŸìˆ˜"], ascending = False).groupby("ëŒ€ì—¬ì‹œê°„").head(3)

            ì´ìš© íšŸìˆ˜
ëŒ€ì—¬ì‹œê°„ ëŒ€ì—¬ì†Œë²ˆí˜¸
8    2701     119
     646      115
     1152      92
7    259      104
     230       77
     726       77
6    2744      45
     1125      40
     1028      36

##### 39. ì´ë™ê±°ë¦¬ì˜ í‰ê·  ì´ìƒì˜ ì´ë™ê±°ë¦¬ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ì—¬ ì¶”ì¶œë°ì´í„°ì˜ ì´ë™ê±°ë¦¬ì˜ í‘œë³¸í‘œì¤€í¸ì°¨ ê°’ì„ êµ¬í•˜ì—¬ë¼

In [55]:
res = df[df["ì´ë™ê±°ë¦¬"] >= df["ì´ë™ê±°ë¦¬"].mean()]
res["ì´ë™ê±°ë¦¬"].std()

np.float64(5092.1397075053565)

##### 40. ë‚¨ì„±(â€˜Mâ€™ or â€˜mâ€™)ê³¼ ì—¬ì„±(â€˜Fâ€™ or â€˜fâ€™)ì˜ ì´ë™ê±°ë¦¬ê°’ì˜ í‰ê· ê°’ì„ êµ¬í•˜ì—¬ë¼

In [56]:
df['sex'] = df['ì„±ë³„'].map(lambda x: 'ë‚¨' if x in ['M','m'] else 'ì—¬')
df[["sex", "ì´ë™ê±°ë¦¬"]].groupby("sex").mean()

            ì´ë™ê±°ë¦¬
sex
ë‚¨    3209.110871
ì—¬    3468.575025

# ì „ì„¸ê³„ í–‰ë³µë„ ì§€í‘œ ë°ì´í„°
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/unsdsn/world-happiness(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)  
ë°ì´í„° ì„¤ëª… : ì „ì„¸ê³„ í–‰ë³µë„ ì§€í‘œ ì¡°ì‚¬  
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv

In [57]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv", encoding = "utf-8")
df

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
307,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
308,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
309,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
310,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
311,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

##### 41. ë°ì´í„°ëŠ” 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ ì „ì„¸ê³„ í–‰ë³µ ì§€ìˆ˜ë¥¼ í‘œí˜„í•œë‹¤. ê°ë…„ë„ì˜ í–‰ë³µë­í‚¹ 10ìœ„ë¥¼ ì°¨ì§€í•œ ë‚˜ë¼ì˜ í–‰ë³µì ìˆ˜ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [58]:
df[df["í–‰ë³µë­í‚¹"] == 10]["ì ìˆ˜"].mean()

np.float64(7.259)

##### 42. ë°ì´í„°ëŠ” 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ ì „ì„¸ê³„ í–‰ë³µ ì§€ìˆ˜ë¥¼ í‘œí˜„í•œë‹¤. ê°ë…„ë„ì˜ í–‰ë³µë­í‚¹ 50ìœ„ì´ë‚´ì˜ ë‚˜ë¼ë“¤ì˜ ê°ê°ì˜ í–‰ë³µì ìˆ˜ í‰ê· ì„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ í‘œì‹œí•˜ë¼

In [59]:
df[df["í–‰ë³µë­í‚¹"] <= 50][["ë…„ë„", "ì ìˆ˜"]].groupby("ë…„ë„").mean()

           ì ìˆ˜
ë…„ë„
2018  6.64678
2019  6.67002

##### 43. 2018ë…„ë„ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí•˜ì—¬ í–‰ë³µì ìˆ˜ì™€ ë¶€íŒ¨ì— ëŒ€í•œ ì¸ì‹ì— ëŒ€í•œ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [60]:
df[df["ë…„ë„"] == 2018][["ì ìˆ˜", "ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹"]].corr().iloc[0,1]

np.float64(0.40529152271510027)

##### 44. 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ í–‰ë³µë­í‚¹ì´ ë³€í™”í•˜ì§€ ì•Šì€ ë‚˜ë¼ëª…ì˜ ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [61]:
len(df[["í–‰ë³µë­í‚¹", "ë‚˜ë¼ëª…"]]) - len(df[["í–‰ë³µë­í‚¹", "ë‚˜ë¼ëª…"]].drop_duplicates())

15

##### 45. âŒ 2019ë…„ë„ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí•˜ì—¬ ê°ë³€ìˆ˜ê°„ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ê³  ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•œ í›„ ìƒìœ„ 5ê°œë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼. ì»¬ëŸ¼ëª…ì€ v1,v2,corrìœ¼ë¡œ í‘œì‹œí•˜ë¼

In [62]:
df[["í–‰ë³µë­í‚¹", "ì ìˆ˜", "ìƒëŒ€GDP", "ì‚¬íšŒì ì§€ì›", "í–‰ë³µê¸°ëŒ€ì¹˜", "ì„ íƒì˜ ììœ ë„", "ê´€ëŒ€í•¨", "ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹"]].corr().unstack()

í–‰ë³µë­í‚¹      í–‰ë³µë­í‚¹        1.000000
          ì ìˆ˜         -0.990325
          ìƒëŒ€GDP      -0.803757
          ì‚¬íšŒì ì§€ì›      -0.752372
          í–‰ë³µê¸°ëŒ€ì¹˜      -0.757395
                        ...
ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹  ì‚¬íšŒì ì§€ì›       0.200387
          í–‰ë³µê¸°ëŒ€ì¹˜       0.293732
          ì„ íƒì˜ ììœ ë„     0.443004
          ê´€ëŒ€í•¨         0.344607
          ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹    1.000000
Length: 64, dtype: float64

In [63]:
target = df[df["ë…„ë„"] == 2019]
res = target[["í–‰ë³µë­í‚¹", "ì ìˆ˜", "ìƒëŒ€GDP", "ì‚¬íšŒì ì§€ì›", "í–‰ë³µê¸°ëŒ€ì¹˜", "ì„ íƒì˜ ììœ ë„", "ê´€ëŒ€í•¨", "ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹"]].corr().unstack().reset_index().dropna()
res = res[res[0] != 1].sort_values(0, ascending = False).drop_duplicates(0)
ans = res.head(5).reset_index(drop = True)
ans.columns = ["v1", "v2", "corr"]
ans

      v1     v2      corr
0  ìƒëŒ€GDP  í–‰ë³µê¸°ëŒ€ì¹˜  0.835462
1  ìƒëŒ€GDP     ì ìˆ˜  0.793883
2  í–‰ë³µê¸°ëŒ€ì¹˜     ì ìˆ˜  0.779883
3     ì ìˆ˜  ì‚¬íšŒì ì§€ì›  0.777058
4  ì‚¬íšŒì ì§€ì›  ìƒëŒ€GDP  0.754906

##### 46. âŒ ê° ë…„ë„ë³„ í•˜ìœ„ í–‰ë³µì ìˆ˜ì˜ í•˜ìœ„ 5ê°œ êµ­ê°€ì˜ í‰ê·  í–‰ë³µì ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [64]:
df.groupby("ë…„ë„").tail(5).groupby("ë…„ë„", as_index = False)["ì ìˆ˜"].mean()

     ë…„ë„      ì ìˆ˜
0  2018  3.1800
1  2019  3.1408

##### 47. 2019ë…„ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ê³  í•´ë‹¹ë°ì´í„°ì˜ ìƒëŒ€ GDP í‰ê·  ì´ìƒì˜ ë‚˜ë¼ë“¤ê³¼ í‰ê·  ì´í•˜ì˜ ë‚˜ë¼ë“¤ì˜ í–‰ë³µì ìˆ˜ í‰ê· ì„ ê°ê° êµ¬í•˜ê³  ê·¸ ì°¨ì´ê°’ì„ ì¶œë ¥í•˜ë¼

In [65]:
target = df[df["ë…„ë„"] == 2019]
over = target[df["ìƒëŒ€GDP"] >= target["ìƒëŒ€GDP"].mean()]["ì ìˆ˜"].mean()
under = target[df["ìƒëŒ€GDP"] <= target["ìƒëŒ€GDP"].mean()]["ì ìˆ˜"].mean()

print(over - under)

1.390483957219251

C:\Users\cho03\AppData\Local\Temp\ipykernel_31996\580180198.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  over = target[df["ìƒëŒ€GDP"] >= target["ìƒëŒ€GDP"].mean()]["ì ìˆ˜"].mean()
C:\Users\cho03\AppData\Local\Temp\ipykernel_31996\580180198.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  under = target[df["ìƒëŒ€GDP"] <= target["ìƒëŒ€GDP"].mean()]["ì ìˆ˜"].mean()

##### 48. âŒ ê° ë…„ë„ì˜ ë¶€íŒ¨ì— ëŒ€í•œ ì¸ì‹ì„ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í–ˆì„ë•Œ ìƒìœ„ 20ê°œ êµ­ê°€ì˜ ë¶€íŒ¨ì— ëŒ€í•œ ì¸ì‹ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [66]:
df.sort_values(["ë…„ë„", "ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹"], ascending = False).groupby("ë…„ë„").head(20).groupby("ë…„ë„")["ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹"].mean()

ë…„ë„
2018    0.3267
2019    0.3201
Name: ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹, dtype: float64

##### 49. 2018ë…„ë„ í–‰ë³µë­í‚¹ 50ìœ„ ì´ë‚´ì— í¬í•¨ëë‹¤ê°€ 2019ë…„ 50ìœ„ ë°–ìœ¼ë¡œ ë°€ë ¤ë‚œ êµ­ê°€ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [67]:
len(set(df[(df["ë…„ë„"] == 2018) & (df["í–‰ë³µë­í‚¹"] <= 50)]["ë‚˜ë¼ëª…"])  -set(df[(df["ë…„ë„"] == 2019) & (df["í–‰ë³µë­í‚¹"] <= 50)]["ë‚˜ë¼ëª…"]))

4

##### 50. âŒ 2018ë…„,2019ë…„ ëª¨ë‘ ê¸°ë¡ì´ ìˆëŠ” ë‚˜ë¼ë“¤ ì¤‘ ë…„ë„ë³„ í–‰ë³µì ìˆ˜ê°€ ê°€ì¥ ì¦ê°€í•œ ë‚˜ë¼ì™€ ê·¸ ì¦ê°€ ìˆ˜ì¹˜ëŠ”?

In [68]:
count = df["ë‚˜ë¼ëª…"].value_counts()
target = count[count >= 2].index # 2018, 2019 ëª¨ë‘ ê¸°ë¡ì´ ìˆëŠ” ë‚˜ë¼ëª…

df2 = df.copy()
multiple = df2[df2["ë‚˜ë¼ëª…"].isin(target)].reset_index(drop = True) # 2018, 2019 ëª¨ë‘ ê¸°ë¡ì´ ìˆëŠ” ë‚˜ë¼ ë°ì´í„°
multiple.loc[multiple["ë…„ë„"] == 2018, "ì ìˆ˜"] = multiple[multiple["ë…„ë„"] == 2018]["ì ìˆ˜"].values * (-1)
multiple.groupby("ë‚˜ë¼ëª…").sum()["ì ìˆ˜"].sort_values().to_frame().iloc[-1]

ì ìˆ˜    0.87
Name: Burundi, dtype: float64

# ì§€ì—­êµ¬ ì—ë„ˆì§€ ì†Œë¹„ëŸ‰ ë°ì´í„°2
ë°ì´í„° ì¶œì²˜ : https://archive.ics.uci.edu/ml/datasets/Power+consumption+of+Tetouan+city (ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)  
ë°ì´í„° ì„¤ëª… : ê¸°ì˜¨, ìŠµë„,ë°”ëŒí’ì†ì— ë”°ë¥¸ ë„ì‹œì˜ 3ê°œ ì§€ì—­êµ¬ì˜ ì—ë„ˆì§€ ì†Œë¹„ëŸ‰  
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan City power consumption.csv

In [69]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv")
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

##### 51. DateTimeì»¬ëŸ¼ì„ í†µí•´ ê° ì›”ë³„ë¡œ ëª‡ê°œì˜ ë°ì´í„°ê°€ ìˆëŠ”ì§€ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ êµ¬í•˜ì—¬ë¼

In [70]:
df["DateTime"] = pd.to_datetime(df["DateTime"])
df['DateTime'].dt.month.value_counts().sort_index().to_frame()

          count
DateTime
1          4464
2          4032
3          4464
4          4320
5          4464
6          4320
7          4464
8          4464
9          4320
10         4464
11         4320
12         4320

##### 52. 3ì›”ë‹¬ì˜ ê° ì‹œê°„ëŒ€ë³„ ì˜¨ë„ì˜ í‰ê· ë“¤ ì¤‘ ê°€ì¥ ë‚®ì€ ì‹œê°„ëŒ€ì˜ ì˜¨ë„ë¥¼ ì¶œë ¥í•˜ë¼

In [71]:
target = df[df["DateTime"].dt.month == 3]
target.groupby(target["DateTime"].dt.hour)["Temperature"].mean().sort_values().values[0]

np.float64(11.506612903225806)

##### 53. 3ì›”ë‹¬ì˜ ê° ì‹œê°„ëŒ€ë³„ ì˜¨ë„ì˜ í‰ê· ë“¤ ì¤‘ ê°€ì¥ ë†’ì€ ì‹œê°„ëŒ€ì˜ ì˜¨ë„ë¥¼ ì¶œë ¥í•˜ë¼

In [72]:
target.groupby(target["DateTime"].dt.hour)["Temperature"].mean().sort_values().values[-1]

np.float64(18.393602150537635)

##### 54. Zone 1 Power Consumption ì»¬ëŸ¼ì˜ valueê°’ì˜ í¬ê¸°ê°€ Zone 2 Power Consumption ì»¬ëŸ¼ì˜ valueê°’ì˜ í¬ê¸°ë³´ë‹¤ í° ë°ì´í„°ë“¤ì˜ Humidityì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [73]:
df[df["Zone 1 Power Consumption"] > df["Zone 2  Power Consumption"]]["Humidity"].mean()

np.float64(68.23624448055051)

##### 55. ê° zoneì˜ ì—ë„ˆì§€ ì†Œë¹„ëŸ‰ì˜ ìƒê´€ê´€ê³„ë¥¼ êµ¬í•´ì„œ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œê¸°í•˜ë¼

In [74]:
df[["Zone 1 Power Consumption", "Zone 2  Power Consumption", "Zone 3  Power Consumption"]].corr()

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

##### 56. Temperatureì˜ ê°’ì´ 10ë¯¸ë§Œì˜ ê²½ìš° A, 10ì´ìƒ 20ë¯¸ë§Œì˜ ê²½ìš° B,20ì´ìƒ 30ë¯¸ë§Œì˜ ê²½ìš° C, ê·¸ ì™¸ì˜ ê²½ìš° Dë¼ê³  í• ë•Œ ê° ë‹¨ê³„ì˜ ë°ì´í„° ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

In [75]:
def split_data(x):
    if x < 10: return "A"
    elif x < 20: return "B"
    elif x < 30: return "C"
    else: return "D"
    
df["sp"] = df["Temperature"].map(split_data)
df["sp"].value_counts()

sp
B    26993
C    21105
A     2874
D     1444
Name: count, dtype: int64

##### 57. 6ì›” ë°ì´í„°ì¤‘ 12ì‹œì˜ Temperatureì˜ í‘œì¤€í¸ì°¨ë¥¼ êµ¬í•˜ì—¬ë¼

In [76]:
df[(df["DateTime"].dt.month == 6) & (df["DateTime"].dt.hour == 12)]["Temperature"].std()

np.float64(2.0499417827951025)

##### 58. 6ì›” ë°ì´í„°ì¤‘ 12ì‹œì˜ Temperatureì˜ ë¶„ì‚°ì„ êµ¬í•˜ì—¬ë¼

In [77]:
df[(df["DateTime"].dt.month == 6) & (df["DateTime"].dt.hour == 12)]["Temperature"].var()

np.float64(4.202261312849163)

##### 59. Temperatureì˜ í‰ê· ì´ìƒì˜ Temperatureì˜ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼ Temperatureë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬ í–ˆì„ë•Œ 4ë²ˆì§¸ í–‰ì˜ Humidity ê°’ì€?

In [78]:
df[df["Temperature"] >= df["Temperature"].mean()].sort_values("Temperature")["Humidity"].values[3]

np.float64(79.7)

##### 60. Temperatureì˜ ì¤‘ê°„ê°’ ì´ìƒì˜ Temperatureì˜ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼Temperatureë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬ í–ˆì„ë•Œ 4ë²ˆì§¸ í–‰ì˜ Humidity ê°’ì€?

In [79]:
df[df["Temperature"] >= df["Temperature"].median()].sort_values("Temperature")["Humidity"].values[3]

np.float64(58.98)

# í¬ì¼“ëª¬ ì •ë³´ ë°ì´í„°
ë°ì´í„° ì¶œì²˜ : https://www.kaggle.com/abcsds/pokemon (ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)  
ë°ì´í„° ì„¤ëª… : í¬ì¼“ëª¬ ì •ë³´  
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv

In [80]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv")
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

##### 61. Legendary ì»¬ëŸ¼ì€ ì „ì„¤í¬ì¼“ëª¬ ìœ ë¬´ë¥¼ ë‚˜íƒ€ë‚¸ë‹¤.ì „ì„¤í¬ì¼“ëª¬ê³¼ ê·¸ë ‡ì§€ ì•Šì€ í¬ì¼“ëª¬ë“¤ì˜ HPí‰ê· ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

In [81]:
leg = df[df["Legendary"] == True]["HP"].mean()
nleg = df[df["Legendary"] == False]["HP"].mean()

leg - nleg

np.float64(25.55614861329147)

##### 62. Type 1ì€ ì£¼ì†ì„± Type 2 ëŠ” ë¶€ì†ì„±ì„ ë‚˜íƒ€ë‚¸ë‹¤. ê°€ì¥ ë§ì€ ë¶€ì†ì„± ì¢…ë¥˜ëŠ” ë¬´ì—‡ì¸ê°€?

In [82]:
df.value_counts("Type 2").index[0]

'Flying'

In [83]:
df.groupby("Type 2").size().sort_values().index[-1]

'Flying'

##### 63. ê°€ì¥ ë§ì€ Type 1 ì˜ ì¢…ì˜ í‰ê·  Attack ì„ í‰ê·  Defenseë¡œ ë‚˜ëˆˆê°’ì€?

In [84]:
max = df['Type 1'].value_counts().index[0]

df[df["Type 1"] == max]["Attack"].mean() / df[df["Type 1"]== max]["Defense"].mean()

np.float64(1.0165238678090576)

##### 64. í¬ì¼“ëª¬ ì„¸ëŒ€(Generation) ì¤‘ ê°€ì¥ë§ì€ Legendaryë¥¼ ë³´ìœ í•œ ì„¸ëŒ€ëŠ” ëª‡ì„¸ëŒ€ì¸ê°€?

In [85]:
print(df[df["Legendary"] == True]["Generation"].value_counts().index[0])

3

##### 65. â€˜HPâ€™, â€˜Attackâ€™, â€˜Defenseâ€™, â€˜Sp. Atkâ€™, â€˜Sp. Defâ€™, â€˜Speedâ€™ ê°„ì˜ ìƒê´€ ê³„ìˆ˜ì¤‘ ê°€ì¥ ì ˆëŒ“ê°’ì´ í° ë‘ ë³€ìˆ˜ì™€ ê·¸ ê°’ì„ êµ¬í•˜ì—¬ë¼

In [86]:
target = df[["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]].corr().unstack().reset_index()
target[target[0] != 1].sort_values(0, ascending = False).iloc[0]

level_0     Defense
level_1     Sp. Def
0          0.510747
Name: 16, dtype: object

##### 66. ê° Generationì˜ Attackìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬ì‹œ ìƒìœ„ 3ê°œ ë°ì´í„°ë“¤(18ê°œ)ì˜ Attackì˜ ì „ì²´ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [87]:
df.sort_values(["Generation", "Attack"]).groupby("Generation").head(3)["Attack"].mean()

np.float64(19.5)

##### 67. ê° Generationì˜ Attackìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ì‹œ ìƒìœ„ 5ê°œ ë°ì´í„°ë“¤(30ê°œ)ì˜ Attackì˜ ì „ì²´ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [88]:
df.sort_values(["Generation", "Attack"], ascending = False).groupby("Generation").head(5)["Attack"].mean()

np.float64(157.23333333333332)

##### 68. ê°€ì¥ í”í•˜ê²Œ ë°œê²¬ë˜ëŠ” (Type1 , Type2) ì˜ ìŒì€ ë¬´ì—‡ì¸ê°€?

In [89]:
df[['Type 1','Type 2']].value_counts().head(1)

Type 1  Type 2
Normal  Flying    24
Name: count, dtype: int64

##### 69. í•œë²ˆì”©ë§Œ ì¡´ì¬í•˜ëŠ” (Type1 , Type2)ì˜ ìŒì˜ ê°¯ìˆ˜ëŠ” ëª‡ê°œì¸ê°€?

In [90]:
target = df[['Type 1','Type 2']].value_counts()
len(target[target == 1])

39

##### 70. âŒ í•œë²ˆì”©ë§Œ ì¡´ì¬í•˜ëŠ” (Type1 , Type2)ì˜ ìŒì„ ê° ì„¸ëŒ€(Generation)ì€ ê°ê° ëª‡ê°œì”© ê°€ì§€ê³  ìˆëŠ”ê°€?

In [91]:
target2 = target[target == 1]

lst = []
for value in target2.reset_index().values:
    t1 = value[0]
    t2 = value[1]
    
    sp = df[(df["Type 1"] == t1) & (df["Type 2"] == t2)]
    lst.append(sp)

result = pd.concat(lst).reset_index(drop = True)["Generation"].value_counts().sort_index()
print(result)

Generation
1     1
2     4
3     5
4    13
5     7
6     9
Name: count, dtype: int64

# ëŒ€í•œë¯¼êµ­ ì²´ë ¥ì¥ ë°ì´í„°
ë°ì´í„° ì¶œì²˜ : êµ­ë¯¼ì²´ìœ¡ì§„í¥ê³µë‹¨ (ë¬¸í™” ë¹…ë°ì´í„°í”Œë«í¼) (ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)  
ë°ì´í„° ì„¤ëª… : ëŒ€í•œë¯¼êµ­ êµ­ë¯¼ ì²´ë ¥ì¥ í‰ê°€  
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv

In [92]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv")

##### 71. ì „ì²´ë°ì´í„°ì˜ ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) - ì´ì™„ê¸°í˜ˆì••(ìµœì €)ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [93]:
(df["ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) : mmHg"] - df["ì´ì™„ê¸°í˜ˆì••(ìµœì €) : mmHg"]).mean()

np.float64(52.19539414750672)

##### 72. 50~59ì„¸ì˜ ì‹ ì¥í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [94]:
df[(df["ì¸¡ì •ë‚˜ì´"] >= 50) & (df["ì¸¡ì •ë‚˜ì´"] <= 59)]["ì‹ ì¥ : cm"].mean()

np.float64(164.07490107405314)

##### 73. ì—°ë ¹ëŒ€ (20~29 : 20ëŒ€ â€¦) ë³„ ì¸ì›ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [95]:
df["ì—°ë ¹ëŒ€"]  = df["ì¸¡ì •ë‚˜ì´"] // 10 * 10
df["ì—°ë ¹ëŒ€"].value_counts()

ì—°ë ¹ëŒ€
20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
Name: count, dtype: int64

##### 74. ì—°ë ¹ëŒ€ (20~29 : 20ëŒ€ â€¦) ë³„ ë“±ê¸‰ì˜ ìˆ«ìë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

In [96]:
df.groupby(['ì—°ë ¹ëŒ€','ë“±ê¸‰'], as_index = False).size()

     ì—°ë ¹ëŒ€ ë“±ê¸‰  size
0   20.0  A  1585
1   20.0  B  1443
2   20.0  C  1455
3   20.0  D  1348
4   30.0  A   743
5   30.0  B   697
6   30.0  C   626
7   30.0  D   594
8   40.0  A   386
9   40.0  B   428
10  40.0  C   455
11  40.0  D   532
12  50.0  A   321
13  50.0  B   410
14  50.0  C   474
15  50.0  D   564
16  60.0  A   314
17  60.0  B   371
18  60.0  C   339
19  60.0  D   311

In [97]:
df[["ì—°ë ¹ëŒ€", "ë“±ê¸‰"]].value_counts().reset_index(name = "size")

     ì—°ë ¹ëŒ€ ë“±ê¸‰  size
0   20.0  A  1585
1   20.0  C  1455
2   20.0  B  1443
3   20.0  D  1348
4   30.0  A   743
5   30.0  B   697
6   30.0  C   626
7   30.0  D   594
8   50.0  D   564
9   40.0  D   532
10  50.0  C   474
11  40.0  C   455
12  40.0  B   428
13  50.0  B   410
14  40.0  A   386
15  60.0  B   371
16  60.0  C   339
17  50.0  A   321
18  60.0  A   314
19  60.0  D   311

##### 75. ë‚¨ì„± ì¤‘ Aë“±ê¸‰ê³¼ Dë“±ê¸‰ì˜ ì²´ì§€ë°©ë¥  í‰ê· ì˜ ì°¨ì´(í° ê°’ì—ì„œ ì‘ì€ ê°’ì˜ ì°¨)ë¥¼ êµ¬í•˜ì—¬ë¼

In [98]:
target = df[df["ì¸¡ì •íšŒì›ì„±ë³„"] == "M"]
abs(target[target["ë“±ê¸‰"] == "A"]["ì²´ì§€ë°©ìœ¨ : %"].mean() - target[target["ë“±ê¸‰"] == "D"]["ì²´ì§€ë°©ìœ¨ : %"].mean())

np.float64(7.932086486137521)

##### 76. ì—¬ì„± ì¤‘ Aë“±ê¸‰ê³¼ Dë“±ê¸‰ì˜ ì²´ì¤‘ì˜ í‰ê· ì˜ ì°¨ì´(í° ê°’ì—ì„œ ì‘ì€ ê°’ì˜ ì°¨)ë¥¼ êµ¬í•˜ì—¬ë¼

In [99]:
target = df[df["ì¸¡ì •íšŒì›ì„±ë³„"] == "F"]
abs(target[target["ë“±ê¸‰"] == "A"]["ì²´ì¤‘ : kg"].mean() - target[target["ë“±ê¸‰"] == "D"]["ì²´ì¤‘ : kg"].mean())

np.float64(5.176211590296504)

##### 77. bmiëŠ” ìì‹ ì˜ ëª¸ë¬´ê²Œ(kg)ë¥¼ í‚¤ì˜ ì œê³±(m)ìœ¼ë¡œ ë‚˜ëˆˆê°’ì´ë‹¤. ë°ì´í„°ì˜ bmi ë¥¼ êµ¬í•œ ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ë§Œë“¤ê³  ë‚¨ì„±ì˜ bmi í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [100]:
df["bmi"] = df["ì²´ì¤‘ : kg"] / ((df["ì‹ ì¥ : cm"] / 100) ** 2)
df[df["ì¸¡ì •íšŒì›ì„±ë³„"] == "M"]["bmi"].mean()

np.float64(24.46134409819308)

##### 78. bmië³´ë‹¤ ì²´ì§€ë°©ìœ¨ì´ ë†’ì€ ì‚¬ëŒë“¤ì˜ ì²´ì¤‘í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [101]:
df[df["ì²´ì§€ë°©ìœ¨ : %"] > df["bmi"]]["ì²´ì¤‘ : kg"].mean()

np.float64(61.7408806392542)

##### 79. ë‚¨ì„±ê³¼ ì—¬ì„±ì˜ ì•…ë ¥ í‰ê· ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

In [102]:
df[df["ì¸¡ì •íšŒì›ì„±ë³„"] == "M"]["ì•…ë ¥D : kg"].mean() - df[df["ì¸¡ì •íšŒì›ì„±ë³„"] == "F"]["ì•…ë ¥D : kg"].mean()

np.float64(17.55954185047465)

##### 80. ë‚¨ì„±ê³¼ ì—¬ì„±ì˜ êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° íšŸìˆ˜ì˜ í‰ê· ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

In [103]:
df[df["ì¸¡ì •íšŒì›ì„±ë³„"] == "M"]["êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ"].mean() - df[df["ì¸¡ì •íšŒì›ì„±ë³„"] == "F"]["êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ"].mean()

np.float64(14.243156833157627)

# ê¸°ì˜¨ ê°•ìˆ˜ëŸ‰ ë°ì´í„°
ë°ì´í„° ì¶œì²˜ : https://data.kma.go.kr/cmmn/static/staticPage.do?page=intro  
ë°ì´í„° ì„¤ëª… : 2020ë…„ë„ ì´í™”ë™(ì„œìš¸) , ìˆ˜ì˜ë™(ë¶€ì‚°)ì˜ ì‹œê°„ë‹¨ìœ„ì˜ ê¸°ì˜¨ê³¼ ê°•ìˆ˜ëŸ‰  
ë°ì´í„° url : https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv

In [104]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv")
df

                     time  ì´í™”ë™ê°•ìˆ˜  ì´í™”ë™ê¸°ì˜¨  ìˆ˜ì˜ë™ê°•ìˆ˜  ìˆ˜ì˜ë™ê¸°ì˜¨
0     2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1     2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2     2020-01-01 02:00:00    0.0   -1.8    0.0    3.8
3     2020-01-01 03:00:00    0.0   -0.8    0.0    4.6
4     2020-01-01 04:00:00    0.0   -0.1    0.0    5.1
...                   ...    ...    ...    ...    ...
8779  2020-12-31 19:00:00    0.0   -9.5    0.0   -4.5
8780  2020-12-31 20:00:00    0.0   -9.5    0.0   -5.0
8781  2020-12-31 21:00:00    0.0   -9.3    0.0   -6.5
8782  2020-12-31 22:00:00    0.0   -9.2    0.0   -4.6
8783  2020-12-31 23:00:00    0.0   -7.8    0.0   -0.2

[8784 rows x 5 columns]

##### 81. ì—¬ë¦„ì² (6ì›”,7ì›”,8ì›”) ì´í™”ë™ì´ ìˆ˜ì˜ë™ë³´ë‹¤ ë†’ì€ ê¸°ì˜¨ì„ ê°€ì§„ ì‹œê°„ëŒ€ëŠ” ëª‡ê°œì¸ê°€?

In [105]:
df["time"] = pd.to_datetime(df["time"])
target = df[df["time"].dt.month.isin([6, 7, 8])]
len(target[target["ì´í™”ë™ê¸°ì˜¨"] > target["ìˆ˜ì˜ë™ê¸°ì˜¨"]])

1415

##### 82. ì´í™”ë™ê³¼ ìˆ˜ì˜ë™ì˜ ìµœëŒ€ê°•ìˆ˜ëŸ‰ì˜ ì‹œê°„ëŒ€ë¥¼ ê°ê° êµ¬í•˜ì—¬ë¼

In [106]:
print(df[df["ì´í™”ë™ê°•ìˆ˜"] == df["ì´í™”ë™ê°•ìˆ˜"].max()]["time"].values, df[df["ìˆ˜ì˜ë™ê°•ìˆ˜"] == df["ìˆ˜ì˜ë™ê°•ìˆ˜"].max()]["time"].values)

['2020-09-30T09:00:00.000000000'] ['2020-07-23T12:00:00.000000000']

# ì„œë¹„ìŠ¤ ì´íƒˆì˜ˆì¸¡ ë°ì´í„°
ë°ì´í„° ì¶œì²˜ : https://www.kaggle.com/shubh0799/churn-modelling ì—ì„œ ë³€í˜•  
ë°ì´í„° ì„¤ëª… : ê³ ê°ì˜ ì‹ ìƒì •ë³´ ë°ì´í„°ë¥¼ í†µí•œ íšŒì‚¬ ì„œë¹„ìŠ¤ ì´íƒˆ ì˜ˆì¸¡ (ì¢…ì†ë³€ìˆ˜ : Exited)  
Data url : https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv

In [107]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv")
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,6842,15793491,Cherkasova,714,Germany,Male,26,3,119545.48,2,1,0,65482.94,0
1,8963,15607874,Keane,687,France,Male,38,0,144450.58,1,0,1,137276.83,0
2,7047,15737627,Rivero,589,Germany,Female,20,2,121093.29,2,1,0,3529.72,0
3,7503,15697844,Whitehouse,721,Spain,Female,32,10,0.00,1,1,0,136119.96,1
4,3439,15722404,Carpenter,445,France,Female,30,3,0.00,2,1,1,127939.19,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7994,1607,15714080,Goliwe,566,Germany,Female,40,2,97001.36,2,1,0,154486.01,0
7995,7744,15741643,Chiang,777,Germany,Male,35,7,122917.69,1,1,1,76169.68,0
7996,4231,15566660,Cole,670,France,Female,41,10,0.00,3,1,0,81602.02,0
7997,8870,15733597,Y?an,669,France,Female,41,0,150219.41,2,0,0,107839.03,0
7998,523,15595766,Watts,527,Spain,Male,37,5,93722.73,2,1,1,139093.73,0

##### 83. âŒ ë‚¨ì„± ì´íƒˆ(Exited)ì´ ê°€ì¥ ë§ì€ êµ­ê°€(Geography)ëŠ” ì–´ë””ì´ê³  ì´íƒˆ ì¸ì›ì€ ëª‡ëª…ì¸ê°€?

In [108]:
df[df["Gender"] == "Male"].groupby("Geography").sum()["Exited"].sort_values(ascending = False).head(1)

Geography
Germany    287
Name: Exited, dtype: int64

##### 84. ì¹´ë“œë¥¼ ì†Œìœ (HasCrCard ==1)í•˜ê³  ìˆìœ¼ë©´ì„œ í™œì„±ë©¤ë²„(IsActiveMember ==1) ì¸ ê³ ê°ë“¤ì˜ í‰ê·  ë‚˜ì´ë¥¼ ì†Œìˆ«ì ì´í•˜ 4ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼

In [109]:
round(df.loc[(df["HasCrCard"] == 1) & (df["IsActiveMember"] == 1)]["Age"].mean(), 4)

np.float64(39.6102)

##### 85. Balance ê°’ì´ ì¤‘ê°„ê°’ ì´ìƒì„ ê°€ì§€ëŠ” ê³ ê°ë“¤ì˜ CreditScoreì˜ í‘œì¤€í¸ì°¨ë¥¼ ì†Œìˆ«ì ì´í•˜ 3ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼

In [110]:
round(df[df["Balance"] >= df["Balance"].median()]["CreditScore"].std(), 3)

np.float64(97.295)

# ì„±ì¸ ê±´ê°•ê²€ì§„ ë°ì´í„°
ë°ì´í„° ì¶œì²˜ :https://www.data.go.kr/data/15007122/fileData.do (ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)  
ë°ì´í„° ì„¤ëª… : 2018ë…„ë„ ì„±ì¸ì˜ ê±´ê°•ê²€ ì§„ë°ì´í„° (í¡ì—°ìƒíƒœ 1- í¡ì—°, 0-ë¹„í¡ì—° )  
ë°ì´í„° url : https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv

In [111]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv")
df

,ì„±ë³„ì½”ë“œ,ì—°ë ¹ëŒ€ì½”ë“œ(5ì„¸ë‹¨ìœ„),ì‹ ì¥(5Cmë‹¨ìœ„),ì²´ì¤‘(5Kgë‹¨ìœ„),í—ˆë¦¬ë‘˜ë ˆ,ì‹œë ¥(ì¢Œ),ì‹œë ¥(ìš°),ì²­ë ¥(ì¢Œ),ì²­ë ¥(ìš°),ìˆ˜ì¶•ê¸°í˜ˆì••,...,í˜ˆìƒ‰ì†Œ,ìš”ë‹¨ë°±,í˜ˆì²­í¬ë ˆì•„í‹°ë‹Œ,(í˜ˆì²­ì§€ì˜¤í‹°)AST,(í˜ˆì²­ì§€ì˜¤í‹°)ALT,ê°ë§ˆì§€í‹°í”¼,í¡ì—°ìƒíƒœ,êµ¬ê°•ê²€ì§„ìˆ˜ê²€ì—¬ë¶€,ì¹˜ì•„ìš°ì‹ì¦ìœ ë¬´,ì¹˜ì„
0,F,55,145,55,73.0,0.7,0.5,1.0,1.0,129.0,...,12.9,1.0,0.9,172.0,209.0,15.0,0,Y,0.0,Y
1,M,40,180,55,74.0,1.5,1.5,1.0,1.0,102.0,...,15.6,1.0,0.8,30.0,19.0,23.0,1,Y,0.0,Y
2,F,55,150,50,72.0,1.0,0.2,1.0,1.0,116.0,...,14.1,1.0,1.0,31.0,19.0,10.0,0,Y,0.0,N
3,M,40,170,85,89.0,1.0,0.8,1.0,1.0,124.0,...,16.7,1.0,1.0,26.0,38.0,108.0,1,Y,1.0,Y
4,F,40,155,45,62.0,0.5,1.0,1.0,1.0,127.0,...,12.9,1.0,0.7,20.0,11.0,13.0,0,Y,0.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44548,F,60,145,50,87.0,1.0,1.0,1.0,1.0,140.0,...,12.3,1.0,0.5,24.0,32.0,15.0,0,Y,1.0,Y
44549,M,40,175,75,88.0,1.5,1.2,1.0,1.0,139.0,...,15.3,1.0,0.8,62.0,106.0,49.0,1,Y,0.0,Y
44550,F,60,150,55,82.0,0.9,0.9,1.0,1.0,124.0,...,14.1,1.0,0.5,38.0,34.0,26.0,0,Y,0.0,Y
44551,M,40,170,50,69.0,0.4,1.2,1.0,1.0,117.0,...,14.2,1.0,0.9,22.0,17.0,55.0,1,Y,0.0,N
44552,F,40,155,50,72.5,1.0,1.0,1.0,1.0,109.0,...,11.7,1.0,0.6,16.0,10.0,7.0,0,Y,0.0,N

##### 86. ìˆ˜ì¶•ê¸°í˜ˆì••ê³¼ ì´ì™„ê¸° í˜ˆì••ê¸° ìˆ˜ì¹˜ì˜ ì°¨ì´ë¥¼ ìƒˆë¡œìš´ ì»¬ëŸ¼(â€˜í˜ˆì••ì°¨â€™) ìœ¼ë¡œ ìƒì„±í•˜ê³ , ì—°ë ¹ëŒ€ ì½”ë“œë³„ ê° ê·¸ë£¹ ì¤‘ â€˜í˜ˆì••ì°¨â€™ ì˜ ë¶„ì‚°ì´ 5ë²ˆì§¸ë¡œ í° ì—°ë ¹ëŒ€ ì½”ë“œë¥¼ êµ¬í•˜ì—¬ë¼

In [112]:
df["í˜ˆì••ì°¨"] = df["ìˆ˜ì¶•ê¸°í˜ˆì••"] - df["ì´ì™„ê¸°í˜ˆì••"]
df.groupby("ì—°ë ¹ëŒ€ì½”ë“œ(5ì„¸ë‹¨ìœ„)")["í˜ˆì••ì°¨"].var().sort_values(ascending = False).index[4]

np.int64(60)

##### 87. âŒ ë¹„ë§Œë„ë¥¼ ë‚˜íƒ€ë‚´ëŠ” ì§€í‘œì¸ WHtRëŠ” í—ˆë¦¬ë‘˜ë ˆ / í‚¤ë¡œ í‘œí˜„í•œë‹¤. ì¼ë°˜ì ìœ¼ë¡œ 0.58ì´ìƒì´ë©´ ë¹„ë§Œìœ¼ë¡œ ë¶„ë¥˜í•œë‹¤. ë°ì´í„°ì¤‘ WHtR ì§€í‘œìƒ ë¹„ë§Œì¸ ì¸ì›ì˜ ë‚¨/ì—¬ ë¹„ìœ¨ì„ êµ¬í•˜ì—¬ë¼

In [113]:
df["WHtR"] = df["í—ˆë¦¬ë‘˜ë ˆ"] / df["ì‹ ì¥(5Cmë‹¨ìœ„)"]
res = df[df["WHtR"] >= 0.58]["ì„±ë³„ì½”ë“œ"].value_counts()
res["M"] / res["F"]

np.float64(1.1693877551020408)

# ìë™ì°¨ ë³´í—˜ê°€ì… ì˜ˆì¸¡ë°ì´í„°
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/anmolkumar/health-insurance-cross-sell-prediction(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)  
ë°ì´í„° ì„¤ëª… : ìë™ì°¨ ë³´í—˜ ê°€ì… ì˜ˆì¸¡  
Data url : https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv

In [114]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv")
df

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,188957,Female,25,1,17.0,1,< 1 Year,No,38785.0,152.0,59,0
1,275631,Male,20,1,22.0,0,< 1 Year,No,2630.0,160.0,113,0
2,329036,Female,40,1,41.0,0,1-2 Year,Yes,33165.0,124.0,188,0
3,227288,Female,28,1,30.0,1,< 1 Year,No,29038.0,152.0,233,0
4,300441,Female,50,1,28.0,0,1-2 Year,Yes,31325.0,124.0,258,0
...,...,...,...,...,...,...,...,...,...,...,...,...
304882,351529,Male,75,1,33.0,0,1-2 Year,Yes,32412.0,26.0,296,1
304883,287917,Male,57,1,28.0,1,1-2 Year,No,44602.0,52.0,135,0
304884,21023,Female,40,1,35.0,0,1-2 Year,Yes,38779.0,26.0,293,0
304885,67340,Male,24,1,41.0,0,< 1 Year,Yes,26669.0,152.0,29,0
304886,127164,Female,22,1,50.0,1,< 1 Year,No,35063.0,152.0,184,0

##### 88. Vehicle_Age ê°’ì´ 2ë…„ ì´ìƒì¸ ì‚¬ëŒë“¤ë§Œ í•„í„°ë§ í•˜ê³  ê·¸ì¤‘ì—ì„œ Annual_Premium ê°’ì´ ì „ì²´ ë°ì´í„°ì˜ ì¤‘ê°„ê°’ ì´ìƒì¸ ì‚¬ëŒë“¤ì„ ì°¾ê³ , ê·¸ë“¤ì˜ Vintageê°’ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

In [115]:
df[(df["Vehicle_Age"]=="> 2 Years") & (df["Annual_Premium"] >= df["Annual_Premium"].median())]["Vintage"].mean()

np.float64(154.43647182359118)

##### 89. âŒ vehicle_ageì— ë”°ë¥¸ ê° ì„±ë³„(gender)ê·¸ë£¹ì˜ Annual_Premiumê°’ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ ì•„ë˜ í…Œì´ë¸”ê³¼ ë™ì¼í•˜ê²Œ êµ¬í˜„í•˜ë¼

In [116]:
res = df.groupby(["Gender", "Vehicle_Age"], as_index = False)["Annual_Premium"].mean()
res.pivot_table(index = "Vehicle_Age", columns = "Gender", values = "Annual_Premium")

Gender             Female          Male
Vehicle_Age
1-2 Year     30762.245001  30413.088469
< 1 Year     29972.286702  30310.982212
> 2 Years    36108.366374  35303.870627

# í•¸ë“œí° ê°€ê²© ì˜ˆì¸¡ë°ì´í„°
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/iabhishekofficial/mobile-price-classification?select=train.csv(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)  
ë°ì´í„° ì„¤ëª… : í•¸ë“œí° ê°€ê²©ì˜ˆì¸¡ (price_rangeì»¬ëŸ¼ 0(ì €ë ´) ~3(ë§¤ìš°ë¹„ìŒˆ) ë²”ìœ„ )  
Data url https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv

In [117]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv")
df

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,2
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,3
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,3

##### 90. price_range ì˜ ê° valueë¥¼ ê·¸ë£¹í•‘í•˜ì—¬ ê° ê·¸ë£¹ì˜ n_cores ì˜ ë¹ˆë„ê°€ ê°€ì¥ë†’ì€ valueì™€ ê·¸ ë¹ˆë„ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

##### 91. price_range ê°’ì´ 3ì¸ ê·¸ë£¹ì—ì„œ ìƒê´€ê´€ê³„ê°€ 2ë²ˆì§¸ë¡œ ë†’ì€ ë‘ ì»¬ëŸ¼ê³¼ ê·¸ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

# ë¹„í–‰íƒ‘ìŠ¹ ê²½í—˜ ë§Œì¡±ë„ ë°ì´í„°
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/teejmahal20/airline-passenger-satisfaction?select=train.csv (ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)  
ë°ì´í„° ì„¤ëª… : ë¹„í–‰íƒ‘ìŠ¹ ê²½í—˜ ë§Œì¡±ë„ (satisfaction ì»¬ëŸ¼ : â€˜neutral or dissatisfiedâ€™ or satisfied ) (83123, 24) shape  
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv")
df

##### 92. Arrival Delay in Minutes ì»¬ëŸ¼ì´ ê²°ì¸¡ì¹˜ì¸ ë°ì´í„°ë“¤ ì¤‘ â€˜neutral or dissatisfiedâ€™ ë³´ë‹¤ â€˜satisfiedâ€™ì˜ ìˆ˜ê°€ ë” ë†’ì€ ClassëŠ” ì–´ë”” ì¸ê°€?

# ìˆ˜ì§ˆ ìŒìš©ì„± ì—¬ë¶€ ë°ì´í„°
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/adityakadiwal/water-potability  
ë°ì´í„° ì„¤ëª… : ìˆ˜ì§ˆ ìŒìš©ì„± ì—¬ë¶€ (Potablillity ì»¬ëŸ¼ : 0 ,1 )  
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv")
df

##### 93. phê°’ì€ ìƒë‹¹íˆ ë§ì€ ê²°ì¸¡ì¹˜ë¥¼ í¬í•¨í•œë‹¤. ê²°ì¸¡ì¹˜ë¥¼ ì œì™¸í•œ ë‚˜ë¨¸ì§€ ë°ì´í„°ë“¤ ì¤‘ ì‚¬ë¶„ìœ„ê°’ ê¸°ì¤€ í•˜ìœ„ 25%ì˜ ê°’ë“¤ì˜ í‰ê· ê°’ì€?

# ì˜ë£Œ ë¹„ìš© ì˜ˆì¸¡ ë°ì´í„°
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/mirichoi0218/insurance/code(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)  
ë°ì´í„° ì„¤ëª… : ì˜ë£Œë¹„ìš© ì˜ˆì¸¡ë¬¸ì œ  
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv

In [ ]:
train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv")
train

##### 94. í¡ì—°ìì™€ ë¹„í¡ì—°ì ê°ê° chargesì˜ ìƒìœ„ 10% ê·¸ë£¹ì˜ í‰ê· ì˜ ì°¨ì´ëŠ”?

# í‚¹ì¹´ìš´í‹° ì£¼ê±°ì§€ ê°€ê²©ì˜ˆì¸¡ë¬¸ì œ ë°ì´í„°
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/harlfoxem/housesalesprediction (ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)  
ë°ì´í„° ì„¤ëª… : í‚¹ì¹´ìš´í‹° ì£¼ê±°ì§€ ê°€ê²© ì˜ˆì¸¡ë¬¸ì œ  
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/train.csv

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice//train.csv")
df

##### 95. bedrooms ì˜ ë¹ˆë„ê°€ ê°€ì¥ ë†’ì€ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë“¤ì˜ priceì˜ ìƒìœ„ 10%ì™€ í•˜ìœ„ 10%ê°’ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

# ëŒ€í•™ì› ì…í•™ê°€ëŠ¥ì„± ë°ì´í„°
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/mohansacharya/graduate-admissions(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)  
ë°ì´í„° ì„¤ëª… : ëŒ€í•™ì› ì…í•™ ê°€ëŠ¥ì„± ì˜ˆì¸¡  
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv")
df

##### 96. Serial No. ì»¬ëŸ¼ì„ ì œì™¸í•˜ê³  â€˜Chance of Admitâ€™ì„ ì¢…ì†ë³€ìˆ˜, ë‚˜ë¨¸ì§€ ë³€ìˆ˜ë¥¼ ë…ë¦½ë³€ìˆ˜ë¼ í• ë•Œ, ëœë¤í¬ë ˆìŠ¤íŠ¸ë¥¼ í†µí•´ íšŒê·€ ì˜ˆì¸¡ì„ í•  ë–„ ë³€ìˆ˜ì¤‘ìš”ë„ ê°’ì„ ì¶œë ¥í•˜ë¼ (ì‹œë“œê°’ì— ë”°ë¼ ìˆœì„œëŠ” ë‹¬ë¼ì§ˆìˆ˜ ìˆìŒ)

# ë ˆë“œ ì™€ì¸ í€„ë¦¬í‹° ì˜ˆì¸¡ ë°ì´í„°
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)  
ë°ì´í„° ì„¤ëª… : ë ˆë“œ ì™€ì¸ í€„ë¦¬í‹° ì˜ˆì¸¡ë¬¸ì œ  
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv")
df

##### 97. quality ê°’ì´ 3ì¸ ê·¸ë£¹ê³¼ 8ì¸ ë°ì´í„°ê·¸ë£¹ì˜ ê° ì»¬ëŸ¼ë³„ ë…ë¦½ë³€ìˆ˜ì˜ í‘œì¤€í¸ì°¨ ê°’ì˜ ì°¨ì´ë¥¼ êµ¬í• ë•Œ ê·¸ê°’ì´ ê°€ì¥ í° ì»¬ëŸ¼ëª…ì„ êµ¬í•˜ì—¬ë¼

# ì•½ë¬¼ ë¶„ë¥˜ ë°ì´í„°
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/prathamtripathi/drug-classification(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)  
ë°ì´í„° ì„¤ëª… : íˆ¬ì•½í•˜ëŠ” ì•½ì„ ë¶„ë¥˜  
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv")
df

##### 98. ë‚¨ì„±ë“¤ì˜ ì—°ë ¹ëŒ€ë³„ (10ì‚´ì”© êµ¬ë¶„ 0~9ì„¸ 10~19ì„¸ â€¦) Na_to_Kê°’ì˜ í‰ê· ê°’ì„ êµ¬í•´ì„œ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ì—¬ë¼

# ì‚¬ê¸°íšŒì‚¬ ë¶„ë¥˜ ë°ì´í„°
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/sid321axn/audit-data(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)  
ë°ì´í„° ì„¤ëª… : ì‚¬ê¸°íšŒì‚¬ ë¶„ë¥˜  
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/train.csv

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/train.csv")
df

##### 99. ë°ì´í„°ì˜ Risk ê°’ì— ë”°ë¥¸ score_aì™€ score_bì˜ í‰ê· ê°’ì„ êµ¬í•˜ì—¬ë¼

# ì„¼ì„œë°ì´í„° ë™ì‘ìœ í˜• ë¶„ë¥˜ ë°ì´í„°
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/kyr7plus/emg-4(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)  
ë°ì´í„° ì„¤ëª… : ì„¼ì„œë°ì´í„°ë¡œ ë™ì‘ ìœ í˜• ë¶„ë¥˜  
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/train.csv

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/train.csv")
df

##### 100. poseê°’ì— ë”°ë¥¸ ê° motionì»¬ëŸ¼ì˜ ì¤‘ê°„ê°’ì˜ ê°€ì¥ í° ì°¨ì´ë¥¼ ë³´ì´ëŠ” motionì»¬ëŸ¼ì€ ì–´ë””ì´ë©° ê·¸ê°’ì€?

# í˜„ëŒ€ ì°¨ëŸ‰ ê°€ê²© ë¶„ë¥˜ë¬¸ì œ ë°ì´í„°
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/mysarahmadbhat/hyundai-used-car-listing(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)  
ë°ì´í„° ì„¤ëª… : í˜„ëŒ€ ì°¨ëŸ‰ê°€ê²© ë¶„ë¥˜ë¬¸ì œ  
Data url :hhttps://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv")
df

##### 101. ì •ë³´(rowìˆ˜)ê°€ ê°€ì¥ ë§ì€ ìƒìœ„ 3ì°¨ì¢…ì˜ priceê°’ì˜ ê° í‰ê· ê°’ì€?

# ë‹¹ë‡¨ì—¬ë¶€íŒë‹¨ ë°ì´í„°
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/pritsheta/diabetes-dataset(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)  
ë°ì´í„° ì„¤ëª… : ë‹¹ë‡¨ì—¬ë¶€ íŒë‹¨í•˜ê¸°  
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/train.csv

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/train.csv")
df

##### 102. Outcome ê°’ì— ë”°ë¥¸ ê° ê·¸ë£¹ì˜ ê° ì»¬ëŸ¼ì˜ í‰ê·  ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

# ë„·í”Œë¦­ìŠ¤ ì£¼ì‹ ë°ì´í„°
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/pritsheta/netflix-stock-data-from-2002-to-2021(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)  
ë°ì´í„° ì„¤ëª… : ë„·í”Œë¦­ìŠ¤ ì£¼ì‹ë°ì´í„°  
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/nflx/NFLX.csv

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/nflx/NFLX.csv")
df

##### 103. ë§¤ë…„ 5ì›”ë‹¬ì˜ openê°€ê²©ì˜ í‰ê· ê°’ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

# nba ì„ ìˆ˜ ëŠ¥ë ¥ì¹˜ ë°ì´í„°
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/datasets/vivovinco/nba-player-stats(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)  
Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv", encoding = "latin", sep = ";")
df

SyntaxError: unterminated string literal (detected at line 1) (90618726.py, line 1)

##### 104. Tm ì»¬ëŸ¼ì€ ê° íŒ€ì˜ ì´ë¦„ì„ ì˜ë¯¸í•œë‹¤. TORíŒ€ì˜ í‰ê· ë‚˜ì´ë¥¼ ì†Œìˆ˜ 4ì§¸ ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼

##### 105. Pos ì»¬ëŸ¼ì€ í¬ì§€ì…˜ì„ ì˜ë¯¸í•œë‹¤. ì „ì²´ ì„ ìˆ˜ ì¤‘ ìµœì†Œë‚˜ì´ëŒ€ì˜ ì„ ìˆ˜ë“¤ì„ í•„í„°í•˜ê³  ê·¸ë“¤ ì¤‘ ê°€ì¥ ë§ì€ í¬ì§€ì…˜ì€ ë¬´ì—‡ì¸ì§€ í™•ì¸í•˜ë¼

##### 106. ì„ ìˆ˜ë“¤ì˜ ì´ë¦„ì€ first_name+ ê³µë°± + last_nameìœ¼ë¡œ ì´ë£¨ì–´ì ¸ ìˆë‹¤. ê°€ì¥ ë§ì€ first_nameì€ ë¬´ì—‡ì´ë©° ëª‡ íšŒ ë°œìƒí•˜ëŠ”ì§€ í™•ì¸í•˜ë¼

##### 107. PTSì»¬ëŸ¼ì€ ê²½ê¸°ë‹¹ í‰ê· ë“ì ìˆ˜ ì´ë‹¤. ê°í¬ì§€ì…˜ë³„ë¡œ ê²½ê¸°ë‹¹ í‰ê· ë“ì ìˆ˜ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

##### 108. PTSì»¬ëŸ¼ì€ ê²½ê¸°ë‹¹ í‰ê· ë“ì ìˆ˜ ì´ë‹¤. ê°í¬ì§€ì…˜ë³„ë¡œ ê²½ê¸°ë‹¹ í‰ê· ë“ì ìˆ˜ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

##### 109. Gì»¬ëŸ¼ì€ ì°¸ì—¬í•œ ê²½ê¸°ì˜ ìˆ«ìì´ë‹¤. ê° íŒ€ë³„ë¡œ ê°€ì¥ ë†’ì€ ê²½ê¸°ì°¸ì—¬ ìˆ˜ë¥¼ ê°€ì§„ ì„ ìˆ˜ë“¤ì˜ ê²½ê¸° ì°¸ì—¬ ìˆ«ìì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

##### 110. Tmì˜ ê°’ì´ MIAì´ë©° PosëŠ” Cë˜ëŠ” PFì¸ ì„ ìˆ˜ì˜ MPê°’ì˜ í‰ê· ì€?

##### 111. ì „ì²´ ë°ì´í„°ì¤‘ Gì˜ í‰ê· ê°’ì˜ 1.5ë°° ì´ìƒì¸ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí–ˆì„ë•Œ 3Pê°’ì˜ í‰ê· ì€?

##### 112. Ageì˜ í‰ê·  ì´ìƒì¸ ê·¸ë£¹ê³¼ í‰ê·  ë¯¸ë§Œì¸ ê·¸ë£¹ê°„ì˜ Gê°’ì˜ í‰ê· ì˜ ì°¨ì´ëŠ”?

##### 113. í‰ê· ë‚˜ì´ê°€ ê°€ì¥ ì Šì€ íŒ€ì€ ì–´ë””ì¸ê°€?

##### 114. Posê·¸ë£¹ë³„ í‰ê·  MPê°’ì„ êµ¬í•˜ì—¬ë¼