# ìœ íŠœë¸Œ ì¸ê¸°ë™ì˜ìƒ ë°ì´í„°
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/rsrishav/youtube-trending-video-dataset?select=KR_youtube_trending_data.csv  
ë°ì´í„° ì„¤ëª… : ìœ íŠœë¸Œ ë°ì¼ë¦¬ ì¸ê¸°ë™ì˜ìƒ (í•œêµ­)  
dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv")
df.head()

,Unnamed: 0,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

##### 1. ì¸ê¸°ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ìƒìœ„ 10ê°œëª…ì„ ì¶œë ¥í•˜ë¼ (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

In [3]:
df.channelId.isin(df.channelId.value_counts().head(10).index)

0         True
1        False
2        False
3        False
4        False
         ...
60394    False
60395    False
60396    False
60397    False
60398    False
Name: channelId, Length: 60399, dtype: bool

In [4]:
df.loc[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.unique()

array(['ì¥ì‚ì­ˆ', 'ì´ëª‡ëª…', 'íŒŒë¿Œë¦¬', 'ì§¤íˆ°', 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„',
       'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„', 'SPOTV', 'ì±„ë„ ì‹­ì˜¤ì•¼', 'ì´ê³¼ì¥', 'BANGTANTV'],
      dtype=object)

##### 2. ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ë¥¼ í™•ì¸í•˜ê³  ì‹¶ë‹¤. dislikesìˆ˜ê°€ like ìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

In [5]:
df[df["dislikes"] > df["likes"]].channelTitle.unique()

array(['í•«ë„ê·¸TV', 'ASMR ì• ì •TV', 'í•˜ì–€íŠ¸ë¦¬HayanTree', 'ì–‘íŒ¡ YangPang',
       'ì² êµ¬í˜• (CHULTUBE)', 'ì™œëƒë§¨í•˜ìš°ìŠ¤', '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€', 'ì˜¤ë©”í‚´TV', 'ìœ¡ì§€ë‹´',
       'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ',
       'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO', 'Gen.G esports'], dtype=object)

##### 3. ì±„ë„ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ë‹¤. channelIdì˜ ê²½ìš° ê³ ìœ ê°’ì´ë¯€ë¡œ ì´ë¥¼ í†µí•´ ì±„ë„ëª…ì„ í•œë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°¯ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

In [6]:
df[["channelTitle", "channelId"]]

                  channelTitle                 channelId
0                          ì¥ì‚ì­ˆ  UChbE5OZQ6dRHECsX0tEPEZQ
1      RAIN's Official Channel  UCxXgIeE5hxWxHG6dz9Scg2w
2                  ì„œìš¸ì‹œ Â· Seoul  UCZUPZW5idAxYp-Asj__lVAA
3                 ê³ ê¸°ë‚¨ì MeatMan  UCT3CumbFIJiW33uq0UI3zlg
4                        ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘  UCdWgRSfttvDucq4ApcCg5Mw
...                        ...                       ...
60394                       ê³µë£¡  UCWf4QKgnTyvmehcRqw-JldQ
60395                  ë†€ë©´ ë­í•˜ë‹ˆ?  UCx6jsZ02B4K3SECUrkgPyzg
60396        ê¹€ì¢…êµ­ GYM JONG KOOK  UCoe-0EVDJnjlSoPK8ygcGwQ
60397                 ìŠ¤ë¸ŒìŠ¤ ì˜ˆëŠ¥ë§›ì§‘  UCnx4Fi4cmkLGDiFfZ311wWw
60398              HYBE LABELS  UC3IZKseVpdzPSBaWxBxundA

[60399 rows x 2 columns]

In [7]:
df[["channelTitle", "channelId"]].drop_duplicates().channelId.value_counts()

channelId
UC98TOxKQk4aLcx0EjIK0LkQ    3
UCtQYhzJWFai1y30UIA3uwYQ    3
UCiEEF51uRAeZeCo8CJFhGWw    2
UCytBYTjlE45XxrJ7SxO2igg    2
UC4LW3sOslC14Vn5bcoNUBkg    2
                           ..
UCeAVJesn059sG6t-1XCgfJQ    1
UCureTzUsWPyrhfZ38x31WXQ    1
UCFXigv26l81ZBaKz6RakL0A    1
UC7lP46vHWIdZbT0X7Ud0AAA    1
UCOH52Yqq4-rdLvpt2Unsqsw    1
Name: count, Length: 1770, dtype: int64

In [8]:
ans = df[["channelTitle", "channelId"]].drop_duplicates().channelId.value_counts()
len(ans[ans > 1])

71

##### 4. ì¼ìš”ì¼ì— ì¸ê¸°ìˆì—ˆë˜ ì˜ìƒë“¤ì¤‘ ê°€ì¥ë§ì€ ì˜ìƒ ì¢…ë¥˜(categoryId)ëŠ” ë¬´ì—‡ì¸ê°€?

In [9]:
import datetime as dt

In [10]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])

In [11]:
df[df["trending_date2"].dt.day_name() == "Sunday"]["categoryId"].value_counts()

categoryId
24    3096
22    1337
10     830
17     636
23     556
25     437
26     363
20     289
1      274
15     217
27     199
28     167
2       99
19      91
29       9
Name: count, dtype: int64

In [12]:
df[df["trending_date2"].dt.day_name() == "Sunday"]["categoryId"].value_counts().index[0]

np.int64(24)

##### 5. ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIdëŠ” ê°ê° ëª‡ê°œ ì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

In [13]:
ans = df.groupby([df["trending_date2"].dt.day_name(), "categoryId"], as_index = False).size()
ans.pivot(index = "categoryId", columns = "trending_date2")

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

##### 6. ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_countê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

In [14]:
target = df[df["view_count"] != 0]

In [15]:
target["ratio"] = target["comment_count"] / target["view_count"]
ans = target.sort_values("ratio", ascending = False).dropna()
ans.iloc[0].title

C:\Users\cho03\AppData\Local\Temp\ipykernel_18716\589280512.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target["ratio"] = target["comment_count"] / target["view_count"]

'60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)'

##### 7. ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤.viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë‚®ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_counts, ratioê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤.)

In [16]:
target2 = target[target["ratio"] != 0]
ans = target2.sort_values("ratio")
ans.iloc[0].title

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

##### 8. like ëŒ€ë¹„ dislikeì˜ ìˆ˜ê°€ ê°€ì¥ ì ì€ ì˜ìƒì€ ë¬´ì—‡ì¸ê°€? (like, dislike ê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

In [17]:
target3 = df[(df.likes != 0) & (df.dislikes != 0)]
df.iloc[(target3["dislikes"] / target3["likes"]).sort_values().index[0]].title

'[ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€ë“í•œ NCT 127 ë„ì˜&ì •ìš°ì˜ ì¤Œí„°ë·°'

##### 9. ê°€ì¥ë§ì€ íŠ¸ë Œë“œ ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì˜ ì´ë¦„ì€ ë¬´ì—‡ì¸ê°€? (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

In [18]:
df["channelId"].value_counts().index[0]

'UCszFjh7CEfwDb7UUGb4RzCQ'

In [19]:
df.loc[df["channelId"] == df["channelId"].value_counts().index[0]].channelTitle.unique()[0]

'ì§¤íˆ°'

##### 10. 20íšŒ(20ì¼)ì´ìƒ ì¸ê¸°ë™ì˜ìƒ ë¦¬ìŠ¤íŠ¸ì— í¬í•¨ëœ ë™ì˜ìƒì˜ ìˆ«ìëŠ”?

In [20]:
(df[["title", "channelId"]].value_counts() >= 20).sum()

np.int64(40)

# ìœ íŠœë¸Œ ê³µë²”ì»¨í…ì¸  ë™ì˜ìƒ ë°ì´í„°
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/kukuroo3/youtube-episodic-contents-kr(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)  
ë°ì´í„° ì„¤ëª… : ìœ íŠœë¸Œ â€œê³µë²”â€ ì»¨í…ì¸  ë™ì˜ìƒ ì •ë³´ ( 10ë¶„ ê°„ê²© ìˆ˜ì§‘)  
dataurl1 (ë¹„ë””ì˜¤ ì •ë³´) = https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv  
dataurl2 (ì°¸ê°€ì ì±„ë„ ì •ë³´)= https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv

In [29]:
video = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
channel = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
display(video.head())
display(channel.head())

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ê½ˆëšœë£¹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ê½ˆëšœë£¹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ê½ˆëšœë£¹

##### 11. ê° ë°ì´í„°ì˜ â€˜ctâ€™ì»¬ëŸ¼ì„ ì‹œê°„ìœ¼ë¡œ ì¸ì‹í• ìˆ˜ ìˆê²Œ datatypeì„ ë³€ê²½í•˜ê³  video ë°ì´í„°ì˜ videonameì˜ ê° value ë§ˆë‹¤ ëª‡ê°œì˜ ë°ì´í„°ì”© ê°€ì§€ê³  ìˆëŠ”ì§€ í™•ì¸í•˜ë¼

In [30]:
video["ct"] = pd.to_datetime(video["ct"])
channel["ct"] = pd.to_datetime(channel["ct"])

video["videoname"].value_counts()

videoname
ê³µë²” EP1    3492
ê³µë²” EP2    3204
ê³µë²” EP3    2568
ê³µë²” EP4    2280
ê³µë²” EP5    1562
ê³µë²” EP6    1274
ê³µë²” EP7     555
ê³µë²” EP8     266
Name: count, dtype: int64

##### 12. ìˆ˜ì§‘ëœ ê° videoì˜ ê°€ì¥ ìµœì‹ í™” ëœ ë‚ ì§œì˜ viewcountê°’ì„ ì¶œë ¥í•˜ë¼

In [38]:
video.sort_values(['videoname','ct']).drop_duplicates("videoname", keep = "last")

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,ê³µë²” EP2
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,ê³µë²” EP3
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,ê³µë²” EP4
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,ê³µë²” EP5
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,ê³µë²” EP6
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,ê³µë²” EP7
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

##### 13. Channel ë°ì´í„°ì¤‘ 2021-10-03ì¼ ì´í›„ ê° ì±„ë„ì˜ ì²˜ìŒ ê¸°ë¡ ëë˜ êµ¬ë…ì ìˆ˜(subcnt)ë¥¼ ì¶œë ¥í•˜ë¼

In [48]:
ans = channel[channel["ct"] >= pd.to_datetime("2021-10-03")].sort_values(["ct", "channelname"]).drop_duplicates().reset_index(drop = True)
ans[["channelname", 'subcnt']]

        channelname   subcnt
0            ë…¼ë¦¬ì™• ì „ê¸°   922000
1             ì•¼ì „ì‚½ì§±ì¬   257000
2        ì¸„ì •ChuJeong   322000
3        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶     7520
4       ë¦´í„ Lilpearl    10100
...             ...      ...
1283  ê³½í† ë¦¬ kwak tori   469000
1284     ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶     9060
1285    ë¦´í„ Lilpearl    21100
1286  Balming Tiger    56800
1287            ê½ˆëšœë£¹  1400000

[1288 rows x 2 columns]

##### 14. ê°ì±„ë„ì˜ 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ê¹Œì§€ êµ¬ë…ììˆ˜ (subcnt) ì˜ ì¦ê°€ëŸ‰ì„ êµ¬í•˜ì—¬ë¼

In [94]:
start = pd.Timestamp("2021-10-03 03:00")
end = pd.Timestamp("2021-11-01 15:00")
target = channel[(channel["ct"] >= start) & (channel["ct"] <= end)]
ans = target.sort_values("ct").groupby("channelname").agg(start = ("subcnt", "first"), end = ("subcnt", "last"))
ans["increase"] = ans["end"] - ans["start"]
ans

                   start      end  increase
channelname
Balming Tiger      54300    56800      2500
ê³½í† ë¦¬ kwak tori     471000   469000     -2000
ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶          7520     9060      1540
ê½ˆëšœë£¹              1330000  1400000     70000
ë…¼ë¦¬ì™• ì „ê¸°            922000   911000    -11000
ë¦´í„ Lilpearl        10100    21100     11000
ì•¼ì „ì‚½ì§±ì¬             257000   268000     11000
ì™€ê¸€ì™€ê¸€ WagleWagle    55000    55000         0
ì¡°ë‚˜ë‹¨               215000   227000     12000
ì¸„ì •ChuJeong        322000   323000      1000
í˜•ì‚¬!íƒì •ë˜ë‹¤            14900    25200     10300

In [93]:
ans.reset_index()[["channelname", "increase"]]

        channelname  increase
0     Balming Tiger      2500
1     ê³½í† ë¦¬ kwak tori     -2000
2        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶      1540
3               ê½ˆëšœë£¹     70000
4            ë…¼ë¦¬ì™• ì „ê¸°    -11000
5       ë¦´í„ Lilpearl     11000
6             ì•¼ì „ì‚½ì§±ì¬     11000
7   ì™€ê¸€ì™€ê¸€ WagleWagle         0
8               ì¡°ë‚˜ë‹¨     12000
9        ì¸„ì •ChuJeong      1000
10          í˜•ì‚¬!íƒì •ë˜ë‹¤     10300

##### 15. ê° ë¹„ë””ì˜¤ëŠ” 10ë¶„ ê°„ê²©ìœ¼ë¡œ êµ¬ë…ììˆ˜, ì¢‹ì•„ìš”, ì‹«ì–´ìš”ìˆ˜, ëŒ“ê¸€ìˆ˜ê°€ ìˆ˜ì§‘ëœê²ƒìœ¼ë¡œ ì•Œë ¤ì¡Œë‹¤. ê³µë²” EP1ì˜ ë¹„ë””ì˜¤ì •ë³´ ë°ì´í„°ì¤‘ ìˆ˜ì§‘ê°„ê²©ì´ 5ë¶„ ì´í•˜, 20ë¶„ì´ìƒì¸ ë°ì´í„° êµ¬ê°„( í•´ë‹¹ ì‹œì  ì „,í›„) ì˜ ì‹œê°ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

In [114]:
target = video[video["videoname"].str.contains("ê³µë²” EP1")].sort_values("ct").reset_index(drop = True)
target[(target["ct"].diff() >= dt.timedelta(minutes = 20)) | (target["ct"].diff() <= dt.timedelta(minutes = 5))]

target[target.index.isin([720,721,722,723,1635,1636,1637])]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,ê³µë²” EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,ê³µë²” EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,ê³µë²” EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,ê³µë²” EP1

##### 16. ê° ì—í”¼ì†Œë“œì˜ ì‹œì‘ë‚ ì§œ(ë…„-ì›”-ì¼)ë¥¼ ì—í”¼ì†Œë“œ ì´ë¦„ê³¼ ë¬¶ì–´ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê³  ì¶œë ¥í•˜ë¼

In [121]:
start = video.sort_values(["videoname", "ct"]).drop_duplicates("videoname")[["ct", "videoname"]]
start["date"] = start["ct"].dt.date
start[["date", "videoname"]]

             date videoname
10     2021-10-07    ê³µë²” EP1
3496   2021-10-09    ê³µë²” EP2
6696   2021-10-14    ê³µë²” EP3
9264   2021-10-16    ê³µë²” EP4
11544  2021-10-21    ê³µë²” EP5
13661  2021-10-23    ê³µë²” EP6
13106  2021-10-28    ê³µë²” EP7
14935  2021-10-30    ê³µë²” EP8

##### 17. â€œê³µë²”â€ ì»¨í…ì¸ ì˜ ê²½ìš° 19:00ì‹œì— ê³µê°œ ë˜ëŠ”ê²ƒìœ¼ë¡œ ì•Œë ¤ì ¸ìˆë‹¤. ê³µê°œëœ ë‚ ì˜ 21ì‹œì˜ viewcnt, ct, videoname ìœ¼ë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ viewcntë¥¼ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ì—¬ ì¶œë ¥í•˜ë¼

In [137]:
ans = video[video["ct"].dt.hour == 21].sort_values(['videoname','ct']).drop_duplicates('videoname').sort_values('viewcnt',ascending=False)[['videoname','viewcnt','ct']].reset_index(drop=True)
ans

  videoname  viewcnt                  ct
0    ê³µë²” EP8   264029 2021-10-30 21:00:08
1    ê³µë²” EP7   252032 2021-10-28 21:00:04
2    ê³µë²” EP4   217674 2021-10-16 21:00:04
3    ê³µë²” EP6   213899 2021-10-23 21:00:06
4    ê³µë²” EP5   201179 2021-10-21 21:00:04
5    ê³µë²” EP2   148144 2021-10-09 21:00:03
6    ê³µë²” EP3   147183 2021-10-14 21:00:04
7    ê³µë²” EP1   117340 2021-10-07 21:00:03

##### 18. video ì •ë³´ì˜ ê°€ì¥ ìµœê·¼ ë°ì´í„°ë“¤ì—ì„œ ê° ì—í”¼ì†Œë“œì˜ ì‹«ì–´ìš”/ì¢‹ì•„ìš” ë¹„ìœ¨ì„ ratio ì»¬ëŸ¼ìœ¼ë¡œ ë§Œë“¤ê³  videoname, ratioë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ ratioë¥¼ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë¼

In [142]:
target = video.sort_values('ct').drop_duplicates('videoname',keep='last')
target["ratio"] = target["dislikecnt"] / target["likecnt"]
target.sort_values("ratio")[["videoname", "ratio"]].reset_index(drop = True)

  videoname     ratio
0    ê³µë²” EP7  0.013636
1    ê³µë²” EP6  0.015881
2    ê³µë²” EP4  0.017971
3    ê³µë²” EP5  0.021128
4    ê³µë²” EP3  0.022360
5    ê³µë²” EP1  0.027118
6    ê³µë²” EP2  0.029844
7    ê³µë²” EP8  0.141357

##### 19. 2021-11-01 00:00:00 ~ 15:00:00ê¹Œì§€ ê° ì—í”¼ì†Œë“œë³„ viewcntì˜ ì¦ê°€ëŸ‰ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“œì‹œì˜¤

In [150]:
start = pd.to_datetime("2021-11-01 00:00")
end = pd.to_datetime("2021-11-01 15:00")
target = video[(video["ct"] >= start) & (video["ct"] <= end)].sort_values("ct").groupby("videoname").agg(start = ("viewcnt","first"), end = ("viewcnt", "last"))
target["increase"] = target["end"] - target["start"]
target.reset_index()[["videoname", "increase"]]

  videoname  increase
0    ê³µë²” EP1     13298
1    ê³µë²” EP2     10300
2    ê³µë²” EP3      9927
3    ê³µë²” EP4      9824
4    ê³µë²” EP5     10824
5    ê³µë²” EP6     14141
6    ê³µë²” EP7     26949
7    ê³µë²” EP8     89147

##### 20. video ë°ì´í„° ì¤‘ì—ì„œ ì¤‘ë³µë˜ëŠ” ë°ì´í„°ê°€ ì¡´ì¬í•œë‹¤. ì¤‘ë³µë˜ëŠ” ê° ë°ì´í„°ì˜ ì‹œê°„ëŒ€ì™€ videoname ì„ êµ¬í•˜ì—¬ë¼

In [153]:
set(video.index) -  set(video.drop_duplicates().index)

{722, 3927}

In [154]:
answer  = video[video.index.isin(set(video.index) -  set(video.drop_duplicates().index))]
answer[['videoname','ct']]

     videoname                  ct
722     ê³µë²” EP1 2021-10-13 09:41:37
3927    ê³µë²” EP2 2021-10-13 09:41:37

# ì›”ë“œì»µ ì¶œì „ì„ ìˆ˜ ê³¨ê¸°ë¡ ë°ì´í„°
ë°ì´í„° ì¶œì²˜ :https://www.kaggle.com/darinhawley/fifa-world-cup-goalscorers-19302018(ì°¸ê³ , ë°ì´í„° ìˆ˜ì •)  
ë°ì´í„° ì„¤ëª… : 1930 ~2018ë…„ë„ ì›”ë“œì»µ ì¶œì „ì„ ìˆ˜ ê³¨ê¸°ë¡  
data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv

In [155]:
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

##### 21. ì£¼ì–´ì§„ ì „ì²´ ê¸°ê°„ì˜ ê° ë‚˜ë¼ë³„ ê³¨ë“ì ìˆ˜ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ë“ì ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„í˜•íƒœë¡œ ì¶œë ¥í•˜ë¼

In [185]:
df.groupby('Country', as_index = False).sum().sort_values('Goals', ascending = False)[["Country", "Goals"]].reset_index(drop = True).head(5)

     Country  Goals
0     Brazil    228
1    Germany    226
2  Argentina    135
3      Italy    123
4     France    115