### 단일표본 T검정 : 한 집단의 평균 비교 => stats.ttest_1samp(그룹, mu, alternative = "")

#### 문제: 다음은 22명의 학생들이 국어시험에서 받은 점수이다. 학생들의 평균이 75보다 크다고 할 수 있는가?
귀무가설(H0): 모평균은 mu와 같다. (μ = mu), 학생들의 평균은 75이다  
대립가설(H1): 모평균은 mu보다 크다. (μ > mu), 학생들의 평균은 75보다 크다

In [1]:
# 검정통계량, p-value, 검정결과를 출력하시오
from scipy.stats import ttest_1samp

# 데이터
scores = [75, 80, 68, 72, 77, 82, 81, 79, 70, 74, 76, 78, 81, 73, 81, 78, 75, 72, 74, 79, 78, 79]

# 모평균 가설검정
mu = 75 # 검정할 모평균
alpha = 0.05 # 유의수준

# t-test를 이용하여 가설 검정
t_statistic, p_value = ttest_1samp(scores, mu, alternative = "greater")

# 결과 출력
print("t-statistic : ", t_statistic)
print("p-value : ", p_value)

if p_value < alpha: print("귀무가설을 기각합니다. 모평균은 75보다 큽니다.")
else: print("귀무가설을 채택합니다. 모평균은 75입니다.")

t-statistic :  1.765879233231226
p-value :  0.04597614747709146
귀무가설을 기각합니다. 모평균은 75보다 큽니다.

### 독립표본 T검정 : 두 집단(서로 독립)의 평균 비교 => stats.ttest_ind(그룹1, 그룹2, alternative = "")

#### 어떤 특정 약물을 복용한 사람들의 평균 체온이 복용하지 않은 사람들의 평균 체온과 유의미하게 다른지 검정해보려고 합니다.

가정: 
- 약물을 복용한 그룹과 복용하지 않은 그룹의 체온 데이터가 각각 주어져 있다고 가정합니다.
- 각 그룹의 체온은 정규분포를 따른다고 가정합니다.

In [2]:
from scipy import stats

# 가설 설정
# H0: 약물을 복용한 그룹과 복용하지 않은 그룹의 평균 체온은 유의미한 차이가 없다.
# H1: 약물을 복용한 그룹과 복용하지 않은 그룹의 평균 체온은 유의미한 차이가 있다.

# 데이터 수집
group1 = [36.8, 36.7, 37.1, 36.9, 37.2, 36.8, 36.9, 37.1, 36.7, 37.1]
group2 = [36.5, 36.6, 36.3, 36.6, 36.9, 36.7, 36.7, 36.8, 36.5, 36.7]

t_statistic, p_value = stats.ttest_ind(group1, group2)
alpha = 0.05 # 유의수준

print("t-statistic : ", t_statistic)
print("p-value : ", p_value)

if p_value < alpha: print("H0을 기각합니다. 약물을 복용한 그룹과 복용하지 않은 그룹의 평균 체온은 유의미한 차이가 있습니다.")
else: print("H0을 채택합니다. 약물을 복용한 그룹과 복용하지 않은 그룹의 평균 체온은 유의미한 차이가 없습니다.")

t-statistic :  3.7964208654863336
p-value :  0.001321891476703691
H0을 기각합니다. 약물을 복용한 그룹과 복용하지 않은 그룹의 평균 체온은 유의미한 차이가 있습니다.

### 대응표본 T검정 : 두 집단(서로 관련)의 평균 비교 => stats.ttest_rel(그룹1, 그룹2, alternative = "")

#### 주어진 데이터는 고혈압 환자 치료 전후의 혈압이다. 해당 치료가 효과가 있는지 대응(쌍체)표본 t-검정을 진행하시오
- 귀무가설(H0): μ >= 0
- 대립가설(H1): μ < 0
- μ = (치료 후 혈압 - 치료 전 혈압)의 평균
- 유의수준: 0.05
  
1. μ 의 표본평균은?(소수 둘째자리까지 반올림)
2. 검정통계량 값은?(소수 넷째자리까지 반올림)
3. p-값은?(소수 넷째자리까지 반올림)
4. 가설검정의 결과는? (유의수준 5%)

In [3]:
import pandas as pd
df = pd.read_csv("../data/high_blood_pressure.csv")

In [4]:
df["diff"] = df["bp_post"] - df["bp_pre"]
alpha = 0.05

# 1
print(round(df["diff"].mean(), 2))

-6.12

In [5]:
from scipy import stats
statistic, p_value = stats.ttest_rel(df["bp_post"], df["bp_pre"], alternative = "less")

# 2
print(round(statistic, 4))

# 3
print(round(p_value, 4))

-3.0002
0.0016

In [6]:
# 4
if p_value < alpha: print("H0을 기각합니다. 치료 후 혈압이 치료 전 혈압보다 낮습니다")
else: print("H0을 채택합니다. 영향이 없습니다")

H0을 기각합니다. 치료 후 혈압이 치료 전 혈압보다 낮습니다

### 일원분산분석 (ANOVA) : 여러 그룹(3그룹 이상)의 평균 비교 => stats.f_oneway(그룹1, 그룹2, 그룹3)

#### 세 가지 다른 교육 방법(A, B, C)을 사용하여 수험생들의 시험 성적을 개선시키는 효과를 평가하고자 한다. 30명의 학생들을 무작위로 세 그룹으로 배정하여 교육을 실시하였고, 시험을 보고 성적을 측정하였습니다. 다음은 각 그룹의 학생들의 성적 데이터입니다.
- 귀무가설(H0): 세 그룹(A, B, C) 간의 평균 성적 차이가 없다.
- 대립가설(H1 또는 Ha): 세 그룹(A, B, C) 간의 평균 성적 차이가 있다.

1. 다음 주어진 데이터로 일원배치법을 수행하여 그룹 간의 평균 성적 차이가 있는지 검정하세요
- f값 (소수 둘째자리)
- p값 (소수 여섯째자리)
- 검정결과 출력

In [7]:
# 각 그룹의 데이터
groupA = [85, 92, 78, 88, 83, 90, 76, 84, 92, 87]
groupB = [79, 69, 84, 78, 79, 83, 79, 81, 86, 88]
groupC = [75, 68, 74, 65, 77, 72, 70, 73, 78, 75]

In [8]:
data = {"GroupA": groupA, "GroupB": groupB, "GroupC": groupC}
df = pd.DataFrame(data).melt(var_name='Group', value_name='Score')
df

     Group  Score
0   GroupA     85
1   GroupA     92
2   GroupA     78
3   GroupA     88
4   GroupA     83
5   GroupA     90
6   GroupA     76
7   GroupA     84
8   GroupA     92
9   GroupA     87
10  GroupB     79
11  GroupB     69
12  GroupB     84
13  GroupB     78
14  GroupB     79
15  GroupB     83
16  GroupB     79
17  GroupB     81
18  GroupB     86
19  GroupB     88
20  GroupC     75
21  GroupC     68
22  GroupC     74
23  GroupC     65
24  GroupC     77
25  GroupC     72
26  GroupC     70
27  GroupC     73
28  GroupC     78
29  GroupC     75

In [9]:
from scipy import stats

# 일원배치법 수행
f_value, p_value = stats.f_oneway(groupA, groupB, groupC)
alpha = 0.05
# F-value
print("f-value : ", round(f_value,2))

# p-value
print("p-value : ", format(p_value,'.6f'))

# 검정결과 출력
if p_value < 0.05 : print("H0을 기각 => 세 그룹간의 평균의 차이 O")
else: print("H0을 채택 => 세 그룹간의 평균의 차이 X")

f-value :  16.88
p-value :  0.000018
H0을 기각 => 세 그룹간의 평균의 차이 O

### 정규성 검정 (Shapiro-Wilks) : 데이터가 정규분포를 따르는지 검정 => stats.shapiro(데이터)

#### 12명의 수험생이 빅데이터 분석기사 시험에서 받은 점수이다. Shapiro-Wilk 검정을 사용하여 데이터가 정규 분포를 따르는지 검증하시오
- 귀무 가설(H0): 데이터는 정규 분포를 따른다.
- 대립 가설(H1): 데이터는 정규 분포를 따르지 않는다.
- Shapiro-Wilk 검정 통계량, p-value, 검증결과를 출력하시오

In [10]:
from scipy import stats

data = [75, 83, 81, 92, 68, 77, 78, 80, 85, 95, 79, 89]

# Shapiro-Wilk 검정 수행
statistic, p_value = stats.shapiro(data)

# 결과 출력
print("Shapiro-Wilk 검정 통계량 : ", statistic)
print("p-value : ", p_value)

alpha = 0.05
if p_value < 0.05: print("귀무 가설을 기각한다. 데이터는 정규 분포를 따르지 않음")
else: print("귀무 가설을 기각할 수 없다. 데이터는 정규 분포를 따름")

Shapiro-Wilk 검정 통계량 :  0.9768091723993144
p-value :  0.9676506711851194
귀무 가설을 기각할 수 없다. 데이터는 정규 분포를 따름

### 회귀모형 (상관계수)

#### iris에서 Sepal Length와 Sepal Width의 상관계수 계산하고 소수 둘째자리까지 출력하시오¶

In [11]:
import pandas as pd
from sklearn.datasets import load_iris

# iris 데이터셋 로드
iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)

In [12]:
print(round(df[["sepal length (cm)", "sepal width (cm)"]].corr().iloc[0][1], 2))

-0.12

C:\Users\cho03\AppData\Local\Temp\ipykernel_17840\1101970081.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(round(df[["sepal length (cm)", "sepal width (cm)"]].corr().iloc[0][1], 2))

### ❌ 로지스틱 회귀

#### Pclass, Gender, sibsp, parch를 독립변수로 사용하여 로지스틱 회귀모형을 실시하였을 때, parch변수의 계수값은? 단, Pclass는 범주형 변수이다¶

In [13]:
df = pd.read_csv("../data/Titanic.csv")

In [14]:
from statsmodels.formula.api import logit

formula = "Survived ~ C(Pclass) + Gender + SibSp + Parch"
model = logit(formula, data=df).fit()
print(model.params)
print(model.params[-1])

Optimization terminated successfully.
         Current function value: 0.459565
         Iterations 6
Intercept         2.491729
C(Pclass)[T.2]   -0.848152
C(Pclass)[T.3]   -1.866905
Gender[T.male]   -2.760281
SibSp            -0.232553
Parch            -0.049847
dtype: float64
-0.0498472583421679

C:\Users\cho03\AppData\Local\Temp\ipykernel_17840\1890682756.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(model.params[-1])

### 두 그룹 평균비교 (T/F 검정)

#### 문제: 두 교육 방법의 효과 비교
연구자는 두 가지 다른 교육 방법이 학생들의 성적에 미치는 영향을 비교하고자 합니다. 연구자는 무작위로 선발된 20명의 학생들을 두 그룹으로 나누어 한 그룹에는 교육 방법 A를, 다른 그룹에는 교육 방법 B를 적용합니다. 교육이 끝난 후, 두 그룹의 성적을 비교하기 위해 독립 표본 t-검정과 ANOVA F-검정을 실시하려고 합니다.
  
다음은 두 그룹의 성적입니다: 다음의 두 가지 검정을 사용하여 두 교육 방법 간의 성적 차이가 통계적으로 유의한지를 검증하세요

1. 독립 표본 t-검정을 실시하여 t 통계량을 구하세요.
2. 독립 표본 t-검정을 실시하여 p-값을 구하세요.
3. ANOVA F-검정을 실시하여 F 통계량을 구하세요.
4. ANOVA F-검정을 실시하여 p-값을 구하세요.

In [15]:
import pandas as pd
df = pd.DataFrame({
    'A':[77, 75, 82, 80, 81, 83, 84, 76, 75, 87],
    'B':[80, 74, 77, 79, 71, 74, 78, 69, 70, 72],
})

df_A = df["A"]
df_B = df["B"]

In [16]:
# 1, 2
from scipy import stats
statistic, p_value = stats.ttest_ind(df_A, df_B)
print("t 통계량 : ", statistic)
print("p-value : ", p_value)

t 통계량 :  3.1068522301122954
p-value :  0.006087373605949963

In [17]:
# 3, 4
statistic, p_value = stats.f_oneway(df_A, df_B)
print("F 통계량 : ", statistic)
print("p-value : ", p_value)

F 통계량 :  9.652530779753766
p-value :  0.0060873736059499145

### 적합도 검정 (Chi-square) : 관측된 데이터가 특정 확률분포(또는 특정 이론적 분포)를 따르는가? => stats.chisquare(관측, 기대)

#### 카이제곱 적합도 검정¶
고등학교에서는 졸업생들이 선택하는 대학 전공 분야의 선호도가 시간이 지남에 따라 변하지 않는다고 가정합니다. 학교 측은 최근 졸업생들의 전공 선택이 과거와 같은 패턴을 따르는지 알아보기 위해 적합도 검정을 실시하기로 결정했습니다.  

과거 자료에 따르면 졸업생들이 선택하는 전공의 분포는 다음과 같습니다:  

인문학: 20% 사회과학: 30% 자연과학: 25% 공학: 15% 기타: 10% 올해 졸업한 학생 200명의 전공 선택 분포는 다음과 같았습니다:  

인문학: 30명 사회과학: 60명 자연과학: 50명 공학: 40명 기타: 20명 이 데이터를 바탕으로, 졸업생들의 전공 선택 패턴이 과거와 유사한지를 알아보기 위해 카이제곱 적합도 검정을 실시해야 합니다. 유의 수준은 0.05로 설정합니다.  

1. 검정 통계량?
2. p-value?
3. 유의수준 하 귀무가설 기각 또는 채택?

In [18]:
from scipy.stats import chisquare

# 관측된 빈도
observed_frequencies = [30, 60, 50, 40, 20]

# 기대된 빈도 
expected_frequencies = [200 * 0.20, 200 * 0.30, 200 * 0.25, 200 * 0.15, 200 * 0.10]

# 카이제곱 검정
statistic, p_value = chisquare(f_obs = observed_frequencies, f_exp = expected_frequencies)

print("1. 검정통계량 : ", statistic)
print("2. p-value : ", p_value)
if p_value < 0.05: print("H0 기각 => 기대되는 것과 다름")
else: print("H0 채택 => 기대되는 것과 같음")

1. 검정통계량 :  5.833333333333334
2. p-value :  0.21194558437271782
H0 채택 => 기대되는 것과 같음

### 지지도/신뢰도/향상도

#### 지지도, 신뢰도, 향상도
1. '빼빼로'와 '딴짓초코'가 함께 팔린 거래의 지지도를 계산하세요.
2. '빼빼로'가 팔린 거래 중에서 '빼빼로'와 '오징어칩'이 함께 팔린 거래의 신뢰도를 계산하세요.
3. '빼빼로'와 '양조위빵'의 향상도를 계산하세요.  
  
- 지지도(A,B): A와 B가 함께 팔린 거래 횟수 / 전체 거래 횟수
- 신뢰도(A->B): A와 B가 함께 팔린 거래 횟수 / A가 팔린 거래 횟수
- 향상도(A,B): 신뢰도(A->B) / 지지도(B)

In [19]:
import pandas as pd

# 데이터
df = pd.DataFrame({
    'transaction': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    '빼빼로': [1, 0, 1, 1, 0, 1, 1, 0, 1, 1],
    '딴짓초코': [0, 1, 1, 0, 1, 0, 1, 1, 0, 0],
    '양조위빵': [1, 0, 0, 1, 1, 1, 0, 0, 1, 0],
    '오징어칩': [0, 1, 1, 0, 0, 1, 0, 1, 1, 1],
    '초코파이': [1, 1, 0, 0, 1, 0, 1, 1, 0, 0]
})
df

   transaction  빼빼로  딴짓초코  양조위빵  오징어칩  초코파이
0            1    1     0     1     0     1
1            2    0     1     0     1     1
2            3    1     1     0     1     0
3            4    1     0     1     0     0
4            5    0     1     1     0     1
5            6    1     0     1     1     0
6            7    1     1     0     0     1
7            8    0     1     0     1     1
8            9    1     0     1     1     0
9           10    1     0     0     1     0

In [20]:
# 문제 1: 빼빼로와 딴짓초코가 함께 팔린 거래의 지지도 : P(A ∩ B)
print("1. 지지도 :", len(df[(df["빼빼로"] == 1) & df["딴짓초코"] == 1]) / len(df))

# 문제 2: 빼빼로가 팔린 거래 중 빼빼로와 오징어칩이 함께 팔린 거래의 신뢰도 : P(A ∩ B) / P(A)
print("2. 신뢰도 : ", len(df[(df["빼빼로"] == 1) & (df["오징어칩"] == 1)]) / len(df[df["빼빼로"] == 1]))

# 문제 3: 빼빼로와 양조위빵의 향상도 : P(A ∩ B) / P(A) P(B)
print("3. 향상도 : ", (len(df[(df["빼빼로"] == 1) & (df["오징어칩"] == 1)]) / len(df[df["빼빼로"] == 1])) / (df['양조위빵'].sum() / len(df)))

1. 지지도 : 0.2
2. 신뢰도 :  0.5714285714285714
3. 향상도 :  1.1428571428571428

### 포아송분포

#### 포아송분포
문제: 한 서점에서는 평균적으로 하루에 3명의 고객이 특정 잡지를 구매합니다. 이 데이터는 포아송 분포를 따른다고 가정할 때, 다음 질문에 대한 답을 구하세요.  

하루에 정확히 5명의 고객이 잡지를 구매할 확률은 얼마입니까? (%로 값을 정수로 입력하시오)  
하루에 적어도 2명의 고객이 잡지를 구매할 확률은 얼마입니까? (%로 값을 정수로 입력하시오)  
포아송 분포의 확률 질량 함수(PMF) : $P(X = k) = \frac{e^{-λ}λ^k}{k!}$

λ는 단위 시간(또는 단위 공간)당 평균 발생 횟수이고, k는 특정 시간(또는 공간) 동안의 이벤트 발생 횟수입니다.

In [21]:
from scipy.stats import poisson

# 평균 발생 횟수 (하루에 잡지를 구매하는 고객 수)
lambda_ = 3

# 하루에 정확히 5명의 고객이 잡지를 구매할 확률
print(poisson.pmf(5, lambda_))

0.10081881344492458

In [22]:
# 하루에 적어도 2명의 고객이 잡지를 구매할 확률
print(1 - poisson.cdf(1, lambda_))

0.8008517265285442

### 독립성 검정 (교차표)

#### 성별과 시험합격은 독립적인가를 검정하시오!
1. 검정 통계량?
2. p-value?
3. 귀무가설 기준 (기각/채택)?
4. 남자의 합격 기대 빈도?

In [24]:
import pandas as pd
from scipy import stats

# 데이터 프레임 생성
df = pd.DataFrame({'남자': [100, 200],
                   '여자': [130, 170]},
                  index=['합격', '불합격'])

# 데이터 프레임 출력
print(df)

# 카이제곱 검정 수행
statistic, p_value, dof, expected = stats.chi2_contingency(df)
alpha = 0.05

# 결과 출력
print(f'1. 검정통계량: {statistic}')
print(f'2. p-value: {p_value}')

if p_value < alpha : print("3. H0 기각 => 독립 X")
else: print("3. H0 채택 => 독립 O")

print(f'4. 남자의 합격 기대빈도: {expected[0][0]}')

      남자   여자
합격   100  130
불합격  200  170
1. 검정통계량: 5.929494712103407
2. p-value: 0.01488951060599475
3. H0 기각 => 독립 X
4. 남자의 합격 기대빈도: 115.0

### 베르누이/이항분포

#### 베르누이 분포와 이항분포
[베르누이 분포] 다음 데이터는 100번의 시도에서 각각 성공(1) 또는 실패(0)를 나타냅니다. 이 데이터를 바탕으로 각 시도의 성공 확률을 계산하시오.  
[이항분포] 1번 문제에서 계산한 성공 확률을 사용하여, 100번의 시도 중 정확히 60번 성공할 확률을 계산하시오.

In [27]:
import pandas as pd
from scipy.stats import binom

df = pd.read_csv("../data/t3_success.csv")
df.head()

   Success
0        1
1        0
2        0
3        1
4        1

In [28]:
# 1. 베르누이 분포: 각 시도의 성공 확률 계산
total_attempts = len(df)
number_of_successes = df['Success'].sum()
success_probability = number_of_successes / total_attempts
print(success_probability)

0.62

In [29]:
# 2. 이항 분포: 100번의 시도 중 정확히 60번 성공할 확률 계산
n = 100  # 시도 횟수
k = 60   # 성공 횟수
probability_of_60_successes = binom.pmf(k, n, success_probability)
print(probability_of_60_successes)

0.07464985555860273

### 점추정/구간추정

#### 점 추정과 구간 추정
데이터셋은 어떤 도시의 일일 평균 온도 입니다.  
  
점추정: 데이터셋을 기반으로 이 도시의 평균 연간 온도를 점추정하세요. (반올림하여 소수 둘째자리까지)  
구간추정: 95% 신뢰수준에서 이 도시의 평균 연간 온도에 대한 신뢰구간을 구하세요. (반올림하여 소수 둘째자리까지)

In [30]:
df = pd.read_csv("../data/daily_temperatures.csv")
df.head()

   Daily Average Temperature
0                  28.820262
1                  22.000786
2                  24.893690
3                  31.204466
4                  29.337790

In [33]:
# 점추정: 샘플 평균 계산
sample_mean = df["Daily Average Temperature"].mean()
print("점 추정 : ", round(sample_mean, 2))

# 구간추정: 샘플 표준편차 계산 및 신뢰구간 계산
confidence_level = 0.95
sample_std = df["Daily Average Temperature"].std()

# 자유도 n - 1로 설정
n_samples = len(df)

# 95% 신뢰구간 계산
CI = stats.t.interval(confidence_level, df = n_samples - 1, loc = sample_mean, scale = sample_std / (n_samples**0.5))
print("구간 추정 : ", CI)

점 추정 :  19.94
구간 추정 :  (np.float64(19.427887094620406), np.float64(20.44726799333667))

### 이원분산분석 (Two-way ANOVA)

#### 크리스마스 장식 종류와 지역에 따라 판매량에 유의미한 차이가 있는지 이원 분산 분석을 통해 검정하세요¶
크리스마스 장식 종류(트리, 조명, 장식품)가 판매량에 미치는 영향을 분석하세요. 이때, 장식 종류의 F-value, p-value를 구하시오  
지역(북부, 남부, 동부, 서부)이 판매량에 미치는 영향을 분석하세요. 이때, 장식 종류의 F-value, p-value를 구하시오  
크리스마스 장식 종류와 지역의 상호작용이 판매량에 미치는 영향을 분석하세요. 이때, 장식 종류의 F-value, p-value를 구하시오

In [36]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols
df = pd.read_csv("../data/christmas_decoration_sales.csv")
display(df.head())

# 이원 분산 분석
model = ols('Sales ~ C(Decoration_Type) * C(Region)', data = df).fit()
sm.stats.anova_lm(model)

# F-value, P-value
# 1. 2.370578, 0.114943
# 2. 0.720381, 0.549614
# 3. 2.308081, 0.066915

  Decoration_Type Region  Sales
0              트리     북부     64
1              트리     남부     67
2              트리     동부     84
3              트리     서부     87
4              트리     북부     87

,df,sum_sq,mean_sq,F,PR(>F)
C(Decoration_Type),2.0,1764.500000,882.250000,2.370578,0.114943
C(Region),3.0,804.305556,268.101852,0.720381,0.549614
C(Decoration_Type):C(Region),6.0,5153.944444,858.990741,2.308081,0.066915
Residual,24.0,8932.000000,372.166667,NaN,NaN

### 로지스틱 회귀 2단계

### 잔차이탈도

### AIC / BIC 계산

### 다중 선형회귀

### 비모수검정 (Wilcoxon)